<template>
  <NavbarContact />
  <NavbarMenu />
  <SubmitBDSBanner />
  <div class="container" style="margin-top:5%">
    <div class="row" style="margin-bottom:5%">
      <div class="col-sm-6">
        <a-button
          class="host"
          @click="clickOwner"
          type="primary"
          :class="{ csshostchanged: !statusHost }"
          >CHỦ NHÀ</a-button
        >
      </div>
      <div class="col-sm-6">
        <a-button
          class="agency"
          @click="clickAgency"
          :class="{ cssagencychanged: !statusHost }"
          >MÔI GIỚI</a-button
        >
      </div>
    </div>
  </div>
  <div class="container" v-if="statusHost == true">
    <div class="row">
      <h2 style="float:left;font-family:Roboto,sans-serif">Thông tin BĐS</h2>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <!--col 12 lớn -->
        <div class="row" style="margin-bottom:2%">
          <div class="col-sm-6">
            <!--col 6 lớn -->
            <div class="form-group">
              <div class="col-sm-12">
                <!--col 12 nhỏ -->
                <div class="row">
                  <label class="col-sm-12 control-label">
                    <!--col 12 nhỏ hơn -->
                    <b style="float:left" class="text"
                      >Loại hình giao dịch
                      <strong class="color-red">*</strong></b
                    >
                  </label>
                </div>
              </div>
              <div class="col-sm-12">
                <!--col 12 nhỏ hơn -->
                <a-radio-group v-model:value="valueTypeTrading">
                  <a-row>
                    <a-radio class="general" value="Sell">Bán</a-radio>
                    <a-radio
                      class="general"
                      style="margin-left:100px"
                      value="Rent"
                      >Cho thuê</a-radio
                    >
                  </a-row>
                </a-radio-group>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <!--col 6 lớn -->
            <div class="form-group">
              <div class="col-sm-12">
                <!--col 12 nhỏ -->
                <div class="row">
                  <label class="col-sm-12 control-label">
                    <!--col 12 nhỏ hơn -->
                    <b style="float:left" class="text"
                      >Loại bất động sản <strong class="color-red">*</strong></b
                    >
                  </label>
                </div>
              </div>
              <div class="col-sm-12">
                <!--col 12 nhỏ hơn -->
                <a-radio-group v-model:value="valueTypeStates">
                  <a-row>
                    <a-radio class="general" value="Deparment"
                      >Chung cư / Căn hộ</a-radio
                    >
                    <a-radio
                      class="general"
                      style="margin-left:100px"
                      value="House"
                      >Nhà</a-radio
                    >
                    <a-radio
                      class="general"
                      style="margin-left:100px"
                      value="Land"
                      >Đất nền</a-radio
                    >
                  </a-row>
                </a-radio-group>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <!--col 6 lớn -->
            <div class="form-group">
              <div class="col-sm-12">
                <!--col 12 nhỏ -->
                <div class="row">
                  <label class="col-sm-12 control-label">
                    <!--col 12 nhỏ hơn -->
                    <b style="float:left" class="text"
                      >Giá đề nghị <strong class="color-red">*</strong></b
                    >
                  </label>
                </div>
              </div>
              <div class="col-sm-12">
                <!--col 12 nhỏ hơn -->
                <div class="row">
                  <label class="col-sm-8 control-label">
                    <a-input-number
                      type="text"
                      placeholder="Nhập giá mong muốn bán"
                      style="width:300px"
                      class="form-control"
                      :formatter="
                        (value) =>
                          `${value}`.replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                      "
                      v-model:value="formInputValue.priceExpectedHost"
                    />
                  </label>
                  <label class="col-sm-4 control-label">
                    <b style="line-height:3;float:left">VNĐ</b>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <!--col 6 lớn -->
            <div class="form-group">
              <div class="col-sm-12">
                <!--col 12 nhỏ -->
                <div class="row">
                  <label class="col-sm-12 control-label">
                    <!--col 12 nhỏ hơn -->
                    <b style="float:left" class="text"
                      >Địa chỉ BĐS <strong class="color-red">*</strong></b
                    >
                  </label>
                </div>
              </div>
              <div class="col-sm-12">
                <!--col 12 nhỏ hơn -->
                <div class="row">
                  <label class="col-sm-4 control-label">
                    <a-select
                      v-model:value="selThanhPho"
                      style="width: 120px"
                      @change="onChangeSelThanhPho"
                      ref="select"
                    >
                      <a-select-option value="">Tỉnh / Thành</a-select-option>
                      <a-select-option
                        v-for="(item, idx) in arrThanhPho"
                        :key="idx"
                        :value="item.value"
                        >{{ item.label }}</a-select-option
                      >
                      <!-- <a-select-option value="HCM">Hồ Chí Minh</a-select-option>
                      <a-select-option value="Da Nang">Đà Nẵng</a-select-option> -->
                    </a-select>
                  </label>
                  <label class="col-sm-4 control-label">
                    <a-select
                      v-model:value="selQuanHuyen"
                      style="width: 120px"
                      @focus="focus"
                      ref="select"
                      @change="onChangeSelQuanHuyen"
                    >
                      <a-select-option value="">Quận / Huyện</a-select-option>
                      <a-select-option
                        v-for="(item, idx) in arrQuanHuyen"
                        :key="idx"
                        :value="item.value"
                        >{{ item.label }}</a-select-option
                      >
                      <!-- <a-select-option value="Q1">Quận 1</a-select-option>
                      <a-select-option value="Q2">Quận 2</a-select-option> -->
                    </a-select>
                  </label>
                  <label class="col-sm-4 control-label">
                    <a-select
                      v-model:value="selPhuongXa"
                      style="width: 120px"
                      @focus="focus"
                      ref="select"
                      @change="handleChange"
                    >
                      <a-select-option value="">Phường / Xã</a-select-option>
                      <a-select-option
                        v-for="(item, idx) in arrPhuongXa"
                        :key="idx"
                        :value="item.value"
                        >{{ item.label }}</a-select-option
                      >
                    </a-select>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <!--col 6 lớn -->
            <div class="form-group">
              <div class="col-sm-12">
                <!--col 12 nhỏ -->
                <div class="row">
                  <label class="col-sm-12 control-label">
                    <!--col 12 nhỏ hơn -->
                    <b style="float:left" class="text"
                      >Số điện thoại liên hệ
                      <strong class="color-red">*</strong></b
                    >
                  </label>
                </div>
              </div>
              <div class="col-sm-12">
                <!--col 12 nhỏ hơn -->
                <div class="row">
                  <label class="col-sm-12 control-label">
                    <input
                      type="text"
                      placeholder="Nhập số điện thoại"
                      style="width:300px"
                      class="form-control"
                      v-model="formInputValue.numberPhoneHost"
                    />
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <!--col 6 lớn -->
            <div class="form-group">
              <div class="col-sm-12">
                <!--col 12 nhỏ hơn -->
                <div class="row">
                  <label class="col-sm-4 control-label">
                    <input
                      type="text"
                      placeholder="Nhập số nhà"
                      style="width:200px"
                      class="form-control"
                      v-model="formInputValue.customerAddressHost"
                    />
                  </label>
                  <label class="col-sm-8 control-label">
                    <input
                      type="text"
                      placeholder="Nhập tên đường"
                      style="width: 300px;margin-left: 40px;"
                      class="form-control"
                      v-model="formInputValue.roadNameHost"
                    />
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-12 control-label">
                <b class="text">Hình ảnh nhà</b> (upload tối thiểu 2 hình, tối
                đa 5 hình,chọn trực tiếp hình từ máy tính , Dung lượng từ 600kb
                - &gt;1Mb kích thước tối thiểu đối với ảnh ngang 1714x968, ảnh
                đứng 968x1714)
                <strong class="color-red">*</strong>
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-12 control-label">
                <b class="text">Bản vẽ / Sổ </b> (upload tối thiểu 4 hình, kéo
                thả file hoặc chọn trực tiếp từ máy tính, Dung lượng từ 600kb
                -&gt; 1Mb kích thước tối thiểu đối với ảnh ngang 1714x968, ảnh
                đứng 968x1714) <strong class="color-red">*</strong>
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <!-- <label
                v-for="(item, idx) in arrImgNha"
                :key="idx"
                class="col-sm-12 control-label"
              >
                <img class="image-upload" :src="item.url" />
              </label>

              <label class="col-sm-12 control-label">
                <img
                  class="image-upload"
                  src="../../../assets/uploadimage.png"
                />
                <input type="file" hidden accept="image/*" @change="sukien" />
              </label> -->
              <div class="clearfix">
                aaa
                <a-upload
                  v-model:file-list="fileListHouseHost"
                  accept="image/*"
                  action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                  list-type="picture-card"
                  @preview="handlePreviewImageHouseHost"
                  multiple="true"
                >
                  <div v-if="fileListHouseHost.length < 6">
                    <plus-outlined />
                    <div class="ant-upload-text">Upload</div>
                  </div>
                </a-upload>
                <a-modal
                  :visible="previewVisibleImageHouseHost"
                  :footer="null"
                  @cancel="handleCancelImageHouseHost"
                >
                  <img
                    alt="example"
                    style="width: 100%"
                    :src="previewImageHouseHost"
                  />
                </a-modal>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              bbb
              <div class="clearfix">
                <a-upload
                  v-model:file-list="fileListHouseDrawingHost"
                  accept="image/*"
                  action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                  list-type="picture-card"
                  @preview="handlePreviewImageHouseDrawingHost"
                  multiple="true"
                >
                  <div v-if="fileListHouseDrawingHost.length < 6">
                    <plus-outlined />
                    <div class="ant-upload-text">Upload</div>
                  </div>
                </a-upload>
                <a-modal
                  :visible="previewVisibleImageHouseDrawingHost"
                  :footer="null"
                  @cancel="handleCancelImageHouseDrawingHost"
                >
                  <img
                    alt="example"
                    style="width: 100%"
                    :src="previewImageHouseDrawingHost"
                  />
                </a-modal>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-12 control-label">
                <!--col 12 nhỏ hơn -->
                <b style="float:left" class="text">Mô tả</b>
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-12 control-label">
                <!--col 12 nhỏ hơn -->
                <b style="float:left" class="text">Nhu cầu khác</b>
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-12 control-label">
                <!--col 12 nhỏ hơn -->
                <a-textarea
                  v-model:value="formInputValue.moreDetailHost"
                  :maxlength="500"
                  placeholder="Ghi chú"
                  :rows="4"
                />
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-12 control-label">
                <a-checkbox-group
                  v-model:value="checkboxvalue"
                  :options="termOption"
                />
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-12 control-label">
                <!--col 12 nhỏ hơn -->
                <b style="float:left" class="text">Tiện ích</b>
              </label>
            </div>
          </div>
          <div class="col-sm-6"></div>
          <div class="col-sm-12">
            <div class="form-group">
              <label class="col-sm-12 control-label">
                <a-checkbox-group
                  style="display:contents"
                  v-model:value="checkboxultilities"
                  :options="ultilities"
                />
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-12 control-label">
                <a-checkbox v-model:checked="toiDongY">
                  Tôi đồng ý với điều khoản sử dụng và biểu phí giao dịch
                </a-checkbox>
              </label>
            </div>
          </div>
          <div class="col-sm-6"></div>
          <div class="col-sm-6">
            <a-button
              class="submit"
              type="primary"
              @click="handleSubmit"
              :disabled="!toiDongY"
              >GỬI THÔNG TIN</a-button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" v-else>
    <div class="row">
      <h2 style="float:left;font-family:Roboto,sans-serif">Thông tin BĐS</h2>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <!-- ---- -->
        <div class="row" style="margin-bottom:2%">
          <div class="col-sm-6">
            <!--col 6 lớn -->
            <div class="form-group">
              <div class="col-sm-12">
                <!--col 12 nhỏ -->
                <div class="row">
                  <label class="col-sm-12 control-label">
                    <!--col 12 nhỏ hơn -->
                    <b style="float:left" class="text"
                      >Thông tin môi giới
                      <strong class="color-red">*</strong></b
                    >
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <!--col 12 nhỏ hơn -->
                <input
                  type="text"
                  placeholder="Họ tên"
                  style="width:300px"
                  class="form-control"
                />
              </div>
              <div class="col-sm-6" style="margin-top:2%">
                <!--col 12 nhỏ hơn -->
                <input
                  type="text"
                  placeholder="Số điện thoại"
                  style="width:300px"
                  class="form-control"
                />
              </div>
              <div class="col-sm-6" style="margin-top:2%">
                <!--col 12 nhỏ hơn -->
                <input
                  type="text"
                  placeholder="Email"
                  style="width:300px"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <!--col 6 lớn -->
            <div class="form-group">
              <div class="col-sm-12">
                <!--col 12 nhỏ -->
                <div class="row">
                  <label class="col-sm-12 control-label">
                    <!--col 12 nhỏ hơn -->
                    <b style="float:left" class="text"
                      >Thông tin chủ nhà <strong class="color-red">*</strong></b
                    >
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <!--col 12 nhỏ hơn -->
                <input
                  type="text"
                  placeholder="Họ tên"
                  style="width:300px"
                  class="form-control"
                />
              </div>
              <div class="col-sm-6" style="margin-top:2%">
                <!--col 12 nhỏ hơn -->
                <input
                  type="text"
                  placeholder="Số điện thoại"
                  style="width:300px"
                  class="form-control"
                />
              </div>
              <div class="col-sm-6" style="margin-top:2%">
                <!--col 12 nhỏ hơn -->
                <input
                  type="text"
                  placeholder="Email"
                  style="width:300px"
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </div>
        <!--col 12 lớn -->
        <div class="row" style="margin-bottom:2%">
          <div class="col-sm-6">
            <!--col 6 lớn -->
            <div class="form-group">
              <div class="col-sm-12">
                <!--col 12 nhỏ -->
                <div class="row">
                  <label class="col-sm-12 control-label">
                    <!--col 12 nhỏ hơn -->
                    <b style="float:left" class="text"
                      >Loại hình giao dịch
                      <strong class="color-red">*</strong></b
                    >
                  </label>
                </div>
              </div>
              <div class="col-sm-12">
                <!--col 12 nhỏ hơn -->
                <a-radio-group v-model:value="valueTypeTrading">
                  <a-row>
                    <a-radio class="general" value="Sell">Bán</a-radio>
                    <a-radio
                      class="general"
                      style="margin-left:100px"
                      value="Rent"
                      >Cho thuê</a-radio
                    >
                  </a-row>
                </a-radio-group>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <!--col 6 lớn -->
            <div class="form-group">
              <div class="col-sm-12">
                <!--col 12 nhỏ -->
                <div class="row">
                  <label class="col-sm-12 control-label">
                    <!--col 12 nhỏ hơn -->
                    <b style="float:left" class="text"
                      >Loại bất động sản <strong class="color-red">*</strong></b
                    >
                  </label>
                </div>
              </div>
              <div class="col-sm-12">
                <!--col 12 nhỏ hơn -->
                <a-radio-group v-model:value="valueTypeStates">
                  <a-row>
                    <a-radio class="general" value="Deparment"
                      >Chung cư / Căn hộ</a-radio
                    >
                    <a-radio
                      class="general"
                      style="margin-left:100px"
                      value="House"
                      >Nhà</a-radio
                    >
                    <a-radio
                      class="general"
                      style="margin-left:100px"
                      value="Land"
                      >Đất nền</a-radio
                    >
                  </a-row>
                </a-radio-group>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <!--col 6 lớn -->
            <div class="form-group">
              <div class="col-sm-12">
                <!--col 12 nhỏ -->
                <div class="row">
                  <label class="col-sm-12 control-label">
                    <!--col 12 nhỏ hơn -->
                    <b style="float:left" class="text"
                      >Giá đề nghị <strong class="color-red">*</strong></b
                    >
                  </label>
                </div>
              </div>
              <div class="col-sm-12">
                <!--col 12 nhỏ hơn -->
                <div class="row">
                  <label class="col-sm-8 control-label">
                    <input
                      type="text"
                      placeholder="Nhập giá mong muốn bán"
                      style="width:300px"
                      class="form-control"
                    />
                  </label>
                  <label class="col-sm-4 control-label">
                    <b style="line-height:3;float:left">VNĐ</b>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <!--col 6 lớn -->
            <div class="form-group">
              <div class="col-sm-12">
                <!--col 12 nhỏ -->
                <div class="row">
                  <label class="col-sm-12 control-label">
                    <!--col 12 nhỏ hơn -->
                    <b style="float:left" class="text"
                      >Địa chỉ BĐS <strong class="color-red">*</strong></b
                    >
                  </label>
                </div>
              </div>
              <div class="col-sm-12">
                <!--col 12 nhỏ hơn -->
                <div class="row">
                  <label class="col-sm-4 control-label">
                    <a-select
                      v-model:value="value1"
                      style="width: 120px"
                      @focus="focus"
                      ref="select"
                      @change="handleChange"
                    >
                      <a-select-option value="jack">Quận 1</a-select-option>
                      <a-select-option value="lucy">Quận 2</a-select-option>
                    </a-select>
                  </label>
                  <label class="col-sm-4 control-label">
                    <a-select
                      v-model:value="value1"
                      style="width: 120px"
                      @focus="focus"
                      ref="select"
                      @change="handleChange"
                    >
                      <a-select-option value="jack"
                        >Hồ Chí Minh</a-select-option
                      >
                    </a-select>
                  </label>
                  <label class="col-sm-4 control-label">
                    <a-select
                      v-model:value="value1"
                      style="width: 120px"
                      @focus="focus"
                      ref="select"
                      @change="handleChange"
                    >
                      <a-select-option value="jack"
                        >Phường / Xã</a-select-option
                      >
                    </a-select>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <!--col 6 lớn -->
            <div class="form-group">
              <div class="col-sm-12">
                <!--col 12 nhỏ -->
                <div class="row">
                  <label class="col-sm-12 control-label">
                    <!--col 12 nhỏ hơn -->
                    <b style="float:left" class="text"
                      >Số điện thoại liên hệ
                      <strong class="color-red">*</strong></b
                    >
                  </label>
                </div>
              </div>
              <div class="col-sm-12">
                <!--col 12 nhỏ hơn -->
                <div class="row">
                  <label class="col-sm-12 control-label">
                    <input
                      type="text"
                      placeholder="Nhập số điện thoại"
                      style="width:300px"
                      class="form-control"
                    />
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <!--col 6 lớn -->
            <div class="form-group">
              <div class="col-sm-12">
                <!--col 12 nhỏ hơn -->
                <div class="row">
                  <label class="col-sm-4 control-label">
                    <input
                      type="text"
                      placeholder="Nhập số nhà"
                      style="width:200px"
                      class="form-control"
                    />
                  </label>
                  <label class="col-sm-8 control-label">
                    <input
                      type="text"
                      placeholder="Nhập tên đường"
                      style="width: 300px;margin-left: 40px;"
                      class="form-control"
                    />
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-12 control-label">
                <b class="text">Hình ảnh nhà</b> (upload tối thiểu 2 hình, tối
                đa 5 hình,chọn trực tiếp hình từ máy tính , Dung lượng từ 600kb
                - &gt;1Mb kích thước tối thiểu đối với ảnh ngang 1714x968, ảnh
                đứng 968x1714)
                <strong class="color-red">*</strong>
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-12 control-label">
                <b class="text">Bản vẽ / Sổ </b> (upload tối thiểu 4 hình, kéo
                thả file hoặc chọn trực tiếp từ máy tính, Dung lượng từ 600kb
                -&gt; 1Mb kích thước tối thiểu đối với ảnh ngang 1714x968, ảnh
                đứng 968x1714) <strong class="color-red">*</strong>
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <div class="clearfix">
                ccc
                <a-upload
                  v-model:file-list="fileListHouseAgency"
                  accept="image/*"
                  action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                  list-type="picture-card"
                  @preview="handlePreviewImageHouseAgency"
                  multiple="true"
                >
                  <div v-if="fileListHouseAgency.length < 6">
                    <plus-outlined />
                    <div class="ant-upload-text">Upload</div>
                  </div>
                </a-upload>
                <a-modal
                  :visible="previewVisibleImageHouseAgency"
                  :footer="null"
                  @cancel="handleCancelImageHouseAgency"
                >
                  <img
                    alt="example"
                    style="width: 100%"
                    :src="previewImageHouseAgency"
                  />
                </a-modal>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <div class="clearfix">
                ddd
                <a-upload
                  v-model:file-list="fileListHouseDrawingAgency"
                  accept="image/*"
                  action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                  list-type="picture-card"
                  @preview="handlePreviewImageHouseDrawingAgency"
                  multiple="true"
                >
                  <div v-if="fileListHouseDrawingAgency.length < 6">
                    <plus-outlined />
                    <div class="ant-upload-text">Upload</div>
                  </div>
                </a-upload>
                <a-modal
                  :visible="previewVisibleImageHouseDrawingAgency"
                  :footer="null"
                  @cancel="handleCancelImageHouseDrawingAgency"
                >
                  <img
                    alt="example"
                    style="width: 100%"
                    :src="previewImageHouseDrawingAgency"
                  />
                </a-modal>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-12 control-label">
                <!--col 12 nhỏ hơn -->
                <b style="float:left" class="text">Mô tả</b>
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-12 control-label">
                <!--col 12 nhỏ hơn -->
                <b style="float:left" class="text">Nhu cầu khác</b>
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-12 control-label">
                <!--col 12 nhỏ hơn -->
                <a-textarea
                  v-model:mota="textareavalue"
                  showCount
                  :maxlength="500"
                  placeholder="Ghi chú"
                  :rows="4"
                />
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-12 control-label">
                <a-checkbox-group
                  v-model:value="checkboxvalue"
                  :options="termOption"
                />
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-12 control-label">
                <!--col 12 nhỏ hơn -->
                <b style="float:left" class="text">Tiện ích</b>
              </label>
            </div>
          </div>
          <div class="col-sm-6"></div>
          <div class="col-sm-12">
            <div class="form-group">
              <label class="col-sm-12 control-label">
                <a-checkbox-group
                  style="display:contents"
                  v-model:value="checkboxultilities"
                  :options="ultilities"
                />
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-12 control-label">
                <a-checkbox v-model:checked="toiDongY">
                  Tôi đồng ý với điều khoản sử dụng và biểu phí giao dịch
                </a-checkbox>
              </label>
            </div>
          </div>
          <div class="col-sm-6"></div>
          <div class="col-sm-6">
            <a-button class="submit" type="primary">Gửi thông tin</a-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-left:0.8% !important">
    <Footer />
  </div>
</template>

<script>
import { reactive, toRefs, ref, defineComponent } from "vue";
import { PlusOutlined } from "@ant-design/icons-vue";
import NavbarContact from "./../../../components/NavbarContact";
import NavbarMenu from "./../../../components/NavbarMenu";
import SubmitBDSBanner from "./../../../components/SubmitBDSBanner";
import Footer from "./../../../components/Footer";
import swal from "sweetalert";

import {
  dataThanhPho,
  dataQuanHuyen,
  dataPhuongXa,
  // imgBinary,
  // imgDefault,
} from "./dataLocations";
import { createBDS } from "../../../api/bdsApi";
// import { uploadImg } from "../../../api/uploadApi";
function getBase64(file) {
  return new Promise((resolve, reject) => {
    const reader = new FileReader();
    reader.readAsDataURL(file);

    reader.onload = () => resolve(reader.result);

    reader.onerror = (error) => reject(error);
  });
}
export default defineComponent({
  components: {
    NavbarContact,
    NavbarMenu,
    SubmitBDSBanner,
    Footer,
    PlusOutlined,
  },
  data() {
    const termOption = [
      { label: "Thẩm định giá bất động sản", value: "ThamDinhGia" },
      { label: "Cung cấp thông tin quy hoạch", value: "CungCapQuyHoach" },
      {
        label:
          "Hoàn thiện hồ sơ pháp lý rao bán(Quyền sở hữu, tách thửa, kê khai thừa kế...)",
        value: "HoanThienHoSoPhapLy",
      },
    ];

    const ultilities = [
      { label: "Gần chợ, siêu thị", value: "market" },
      { label: "Gần công viên, trung tâm", value: "centerpark" },
      { label: "Gần mặt tiền đường", value: "roadway" },
      { label: "Gần bệnh viện", value: "hospital" },
      { label: "Gần trường học", value: "school" },
      { label: "Gần khu phức hợp", value: "complex" },
      { label: "Gần sân bay", value: "airport" },
    ];

    const state = reactive({
      checkboxvalue: [],
      checkboxultilities: [],
      toiDongY: ref(false),
    });
    return {
      termOption,
      ultilities,
      statusHost: true,
      statusAgency: false,
      ...toRefs(state),
      formInputValue: {
        priceExpectedHost: "",
        numberPhoneHost: "",
        customerAddressHost: "",
        roadNameHost: "",
        moreDetailHost: "",
      },
      selThanhPho: "",
      selQuanHuyen: "",
      selPhuongXa: "",
      arrThanhPho: dataThanhPho,
      arrQuanHuyen: [],
      arrPhuongXa: [],
      // imgNha: imgDefault,
      // arrImgNha: [],
    };
  },
  setup() {
    const mota = ref("aaa");
    const valueTypeStates = ref("Deparment");
    const valueTypeTrading = ref("Sell");
    const focus = () => {
      console.log("focus");
    };
    const handleChange = (value) => {
      console.log(`selected ${value}`);
    };
    //ImagesHouseHost
    const previewVisibleImageHouseHost = ref(false);
    const previewImageHouseHost = ref("");
    const fileListHouseHost = ref([]);

    const handleCancelImageHouseHost = () => {
      previewVisibleImageHouseHost.value = false;
    };

    const handlePreviewImageHouseHost = async (file) => {
      if (!file.url && !file.preview) {
        file.preview = await getBase64(file.originFileObj);
      }

      previewImageHouseHost.value = file.url || file.preview;
      previewVisibleImageHouseHost.value = true;
    };

    const handleChangeImageHouseHost = ({ fileListHouseHost: newFileList }) => {
      fileListHouseHost.value = newFileList;
    };
    //ImagesHouseDrawingHost
    const previewVisibleImageHouseDrawingHost = ref(false);
    const previewImageHouseDrawingHost = ref("");
    const fileListHouseDrawingHost = ref([]);

    const handleCancelImageHouseDrawingHost = () => {
      previewVisibleImageHouseDrawingHost.value = false;
    };

    const handlePreviewImageHouseDrawingHost = async (file) => {
      if (!file.url && !file.preview) {
        file.preview = await getBase64(file.originFileObj);
      }

      previewImageHouseDrawingHost.value = file.url || file.preview;
      previewVisibleImageHouseDrawingHost.value = true;
    };

    const handleChangeImageHouseDrawingHost = ({
      fileListHouseDrawingHost: newFileList,
    }) => {
      fileListHouseDrawingHost.value = newFileList;
    };

    //ImagesHouseAgency
    const previewVisibleImageHouseAgency = ref(false);
    const previewImageHouseAgency = ref("");
    const fileListHouseAgency = ref([]);

    const handleCancelImageHouseAgency = () => {
      previewVisibleImageHouseAgency.value = false;
    };

    const handlePreviewImageHouseAgency = async (file) => {
      if (!file.url && !file.preview) {
        file.preview = await getBase64(file.originFileObj);
      }

      previewImageHouseAgency.value = file.url || file.preview;
      previewVisibleImageHouseAgency.value = true;
    };

    const handleChangeImageHouseAgency = ({
      fileListHouseAgency: newFileList,
    }) => {
      fileListHouseAgency.value = newFileList;
    };

    //ImagesHouseDrawingAgency
    const previewVisibleImageHouseDrawingAgency = ref(false);
    const previewImageHouseDrawingAgency = ref("");
    const fileListHouseDrawingAgency = ref([]);

    const handleCancelImageHouseDrawingAgency = () => {
      previewVisibleImageHouseDrawingAgency.value = false;
    };

    const handlePreviewImageHouseDrawingAgency = async (file) => {
      if (!file.url && !file.preview) {
        file.preview = await getBase64(file.originFileObj);
      }

      previewImageHouseDrawingAgency.value = file.url || file.preview;
      previewVisibleImageHouseDrawingAgency.value = true;
    };

    const handleChangeImageHouseDrawingAgency = ({
      fileListHouseDrawingAgency: newFileList,
    }) => {
      fileListHouseDrawingAgency.value = newFileList;
    };

    return {
      valueTypeStates,
      valueTypeTrading,
      focus,
      handleChange,
      value1: ref(""),
      mota,

      //ImagesHouseHost
      previewVisibleImageHouseHost,
      previewImageHouseHost,
      fileListHouseHost,
      handleCancelImageHouseHost,
      handlePreviewImageHouseHost,
      handleChangeImageHouseHost,

      //ImagesHouseDrawingHost
      previewVisibleImageHouseDrawingHost,
      previewImageHouseDrawingHost,
      fileListHouseDrawingHost,
      handleCancelImageHouseDrawingHost,
      handlePreviewImageHouseDrawingHost,
      handleChangeImageHouseDrawingHost,

      //ImagesHouseAgency
      previewVisibleImageHouseAgency,
      previewImageHouseAgency,
      fileListHouseAgency,
      handleCancelImageHouseAgency,
      handlePreviewImageHouseAgency,
      handleChangeImageHouseAgency,

      //ImagesHouseDrawingAgency
      previewVisibleImageHouseDrawingAgency,
      previewImageHouseDrawingAgency,
      fileListHouseDrawingAgency,
      handleCancelImageHouseDrawingAgency,
      handlePreviewImageHouseDrawingAgency,
      handleChangeImageHouseDrawingAgency,
    };
  },
  methods: {
    clickOwner() {
      this.statusHost = true;
      this.statusAgency = false;
    },
    clickAgency() {
      this.statusHost = false;
      this.statusAgency = true;
    },
    onChangeSelThanhPho() {
      this.selQuanHuyen = "";
      this.selPhuongXa = "";
      this.arrQuanHuyen = dataQuanHuyen.filter(
        (item) => item.thanhPho === this.selThanhPho
      );
      this.arrPhuongXa = [];
    },
    onChangeSelQuanHuyen() {
      this.selPhuongXa = "";
      this.arrPhuongXa = dataPhuongXa.filter(
        (item) =>
          item.thanhPho === this.selThanhPho &&
          item.quanHuyen === this.selQuanHuyen
      );
    },
    handleSubmit() {
      console.log("tao submit gia", this.formInputValue.priceExpectedHost);
      console.log("tao submit SDT", this.formInputValue.numberPhoneHost);
      console.log(
        "tao submit dia chi",
        this.formInputValue.customerAddressHost
      );
      console.log("tao submit ten duong", this.formInputValue.roadNameHost);
      console.log("tao submit ghi chu", this.formInputValue.moreDetailHost);
      console.log("tao submit kieu giao dich", this.valueTypeTrading);
      console.log("tao submit ThanhPho", this.selThanhPho);
      console.log("tao submit Quan", this.selQuanHuyen);
      console.log("tao submit Huyen", this.selPhuongXa);
      console.log("tao submit Hinh Nha", this.fileListHouseHost);
      console.log("tao submit Hinh Nha", this.fileListHouseDrawingHost);
      console.log("checkboxvalue", this.checkboxvalue);
      console.log("checkboxvalue", this.checkboxultilities);
      console.log("toiDongYtoiDongYtoiDongY", this.toiDongY);

      const address = `${this.formInputValue.customerAddressHost} ${this.formInputValue.roadNameHost} ${this.selPhuongXa} ${this.selQuanHuyen}`;
      createBDS({
        address,
        location: this.selThanhPho,
        ultilities: this.checkboxultilities,
        typerealestate: this.valueTypeStates,
        typetrading: this.valueTypeTrading,
        detailhost: this.formInputValue.moreDetailHost,
        phoneowner: this.formInputValue.numberPhoneHost,
        price: this.formInputValue.priceExpectedHost,
        termoptions: this.checkboxvalue,
        totalview: 5000,
      })
        .then((resp) => {
          swal({
            title: "Thêm BĐS thành công",
            icon: "success",
          });
        })
        .catch((e) => {
          console.log("that bai");
        });
    },
    // async sukien(e) {
    //   const file = e.target.files[0];
    //   console.log("file", file);
    //   try {
    //     const result = await uploadImg(file);
    //     const path = result?.data?.path;

    //     if (path) {
    //       this.imgNha = `http://localhost:3000/${path}`;
    //       this.arrImgNha.push({
    //         ...(result.data || {}),
    //         url: `http://localhost:3000/${path}`,
    //       });
    //     }
    //   } catch (e) {
    //     console.log("eee", e);
    //   }
    //   // const url = fetchApi(file)
    //   // update bien
    //   // this.url =
    //   // console.log("eee", e);
    //   // this.imgNha = "https://next.antdv.com/assets/logo.1ef800a8.svg";
    // },
  },
});
</script>

<style>
.row {
  margin-top: 2%;
}
.ant-row {
  flex-flow: row !important;
}
.host {
  width: 136px;
  height: 47px;
  color: #fff;
  background-color: #173e69;
  border-radius: 5px;
  border: 0;
  margin-left: 70%;
}
.csshostchanged {
  color: #676767 !important;
  background-color: #fff !important;
  border: 1px solid #dadde0 !important;
}
.cssagencychanged {
  color: #fff !important;
  background-color: #173e69 !important;
}
.submit {
  width: 50%;
  background-color: #f17423;
  font-size: 14px;
  color: #fff;
  padding: 10px;
  border-radius: 40px;
  height: 48px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  float: left;
  margin-left: 5%;
}
.agency {
  width: 136px;
  height: 47px;
  background-color: #fff;
  border-radius: 5px;
  border: 0;
  color: #676767;
  margin-right: 70%;
  border: 1px solid #dadde0;
}
.control-label {
  text-align: left;
  font-size: 15px;
  padding-top: 10px;
  color: #474747;
  padding-bottom: 15px;
}
.text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
.color-red {
  color: red;
}
.ant-radio-group {
  float: left;
}
.general {
  font-weight: 400;
  font-size: 15px;
}
.ant-select.ant-select-single.ant-select-show-arrow {
  width: 150px !important;
  margin-top: 2% !important;
}
.image-upload {
  width: 80px;
  height: 80px;
}
.ant-checkbox-group {
  display: grid;
}
.host:focus {
  background-color: #173e69 !important;
  border-color: #173e69 !important;
}
.host:hover {
  border-color: #173e69 !important;
  color: #676767 !important;
}
.agency:focus {
  border-color: #173e69 !important;
}
.agency:hover {
  border-color: #173e69 !important;
  color: #676767 !important;
}
.ant-btn-primary:hover {
  background-color: #173e69;
}
.ant-input-number-handler-wrap {
  display: none !important;
}
</style>
