<template>
  <template v-for="item in listDefaultLandSale" :key="item.id">
    <router-link @click="$scrollToTop" to="/detail">
      <LandSellItem :item="item" />
    </router-link>
  </template>
</template>

<script>
import LandSellItem from "./LandSellItem.vue";
export default {
  props: ["listDefaultLandSale"],
  components: {
    LandSellItem,
  },
};
</script>

<style></style>
