<template>
  <div class="col-sm-4">
    <!--Begin item -->
    <div class="card" style="height:600px;width:350px">
      <img
        class="card-img-top"
        style="height:300px"
        src="../../assets/HouseSale.jpeg"
      />
      <div class="card-body">
        <div style="display:flex;align-items:center">
          <h4
            class="card-title"
            style="float:left;color:#ef7733;font-size:18px;font-weight:bold"
          >
            20 tỷ <span style="color:grey">|</span> 100 m2
          </h4>
          <h4
            class="card-title"
            style="float:right;font-size:18px;margin-left:25%"
          >
            200 triệu/m2
          </h4>
        </div>
        <p
          class="card-text"
          style="float:left;font-size:18px;text-align: left;font-weight:bold;color:grey"
        >
          Bán gấp nhà hẻm Trần Đình Xu - trung tâm Quận 1
        </p>
        <div style="margin-top:3%">
          <p
            class="card-text"
            style="float:left;font-size:18px;text-align:left"
          >
            <span
              class="badge badge-house-sale"
              style="font-family: SF-UI-Display,sans-serif;"
              >{{ this.typetrading }}</span
            >
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span
              class="badge badge-info"
              style="font-family: SF-UI-Display,sans-serif;"
              >Đã thẩm định</span
            >
          </p>
        </div>
      </div>
      <div style="margin-left:6%;margin-top:-5%">
        <p class="card-text" style="float:left;font-size:18px;">
          <span style="color:grey;font-size:18px;font-weight:bold">{{
            JSON.stringify(item.bedroom)
          }}</span
          >&nbsp;<i style="color:grey;font-size:15px" class="fas">&#xf236;</i>
        </p>
        <p class="card-text" style="float:left;font-size:18px;margin-left:6%">
          <span style="color:grey;font-size:18px;font-weight:bold">{{
            JSON.stringify(item.bathroom)
          }}</span
          >&nbsp;<i style="color:grey;font-size:15px" class="fas">&#xf2cd;</i>
        </p>
        <p class="card-text" style="float:left;font-size:18px;margin-left:6%">
          <span style="color:grey;font-size:18px;font-weight:bold"
            >View: {{ JSON.stringify(item.view) }}</span
          >&nbsp;
        </p>
        <!-- <button class="btn btn-primary">Like</button> -->
      </div>
      <div style="margin-left:6%;margin-top:1%">
        <p class="card-text" style="float:left;font-size:18px;text-align:left">
          <i style="color:grey;font-size:15px" class="fas">&#xf3c5;</i
          >&nbsp;<span style="color:grey;font-size:18px;font-weight:bold"
            >Phường Nguyễn Cư Trinh, Quận 1</span
          >
        </p>
      </div>
    </div>
    <!-- End item -->
  </div>
</template>

<script>
export default {
  props: ["item"],
  data() {
    return {
      typetrading: "",
    };
  },
  mounted() {
    try {
      if (this.item.typetrading == "Sell") {
        this.typetrading = "Bán";
      }
    } catch (e) {
      console.log("da co loi xay ra", e);
    }
  },
};
</script>

<style></style>
