<template>
  <template v-for="item in listDefaultDepartmentSale" :key="item.id">
    <router-link @click="$scrollToTop" to="/detail">
      <DepartmentSaleItem :item="item" />
    </router-link>
  </template>
</template>

<script>
import DepartmentSaleItem from "./DepartmentSaleItem";
export default {
  props: ["listDefaultDepartmentSale"],
  components: {
    DepartmentSaleItem,
  },
};
</script>

<style></style>
