<template>
    <div><img style="width:100%;height:700px;margin-top:2%" src="../../assets/Banner-1.jpg">
    <Search/>
    </div>
    <div><img class="banner-text-2" src="../../assets/Slogan.png"></div>
</template>

<script>
import Search from "./../Search"
export default {
    components:{
        Search
    }
}
</script>

<style scoped>
/* For demo */
/* .banner-text-1{
    width: 500px!important;
    height: 400px!important;
    position: absolute;
    z-index: 2;
    top: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin-top:200px;
    margin-left: 2%;
} */
.banner-text-2{
    width: 500px!important;
    height: 400px!important;
    position: absolute;
    z-index: 2;
    top: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin-top:20%;
    margin-left: -40%;
}
/* .ant-carousel :deep(.slick-slide) {
  text-align: center;
  height: 650px;
  width:100%;
  line-height: 160px;
  align-content: center;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel :deep(.slick-slide h3) {
  color: #fff;
}
.ant-carousel{
    margin-top:2%;
} */
</style>
