<template>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <ul class="navmenu">
    <li>
      <div style="display:flex; align-items:center">
        <i class="fa fa-phone" style="font-size:20px"></i>&nbsp;&nbsp;<a
          >0938.626.020</a
        >
      </div>
    </li>
    <li>
      <div style="display:flex; align-items:center">
        <i class="material-icons">&#xe0be;</i>&nbsp;&nbsp;<a
          >giandieukien@gmail.com</a
        >
      </div>
    </li>
    <li>
      <div style="display:flex; align-items:center;margin-left:900px">
        <router-link @click="$scrollToTop" to="/userinfo">
          <i class="fa fa-user-o" style="font-size:18px"></i>&nbsp;&nbsp;<a
            >Kien Gian</a
          >
        </router-link>
      </div>
    </li>
    <li>
      <div style="display:flex; align-items:center;">
        <router-link @click="$scrollToTop" to="/realestatemanagement">
          <i class="fa fa-home" style="font-size:26px"></i>&nbsp;&nbsp;<a>3</a>
        </router-link>
      </div>
    </li>
  </ul>
</template>

<script>
export default {};
</script>

<style>
html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.navmenu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background-color: #ef7733;
}

.navmenu li {
  float: left;
  margin-left: 4%;
  font-weight: bold;
  line-height: 50px;
}

a {
  color: white;
  text-decoration: none;
}
</style>
