<template>
  <NavbarContact />
  <NavbarMenu />
  <div class="container" style="margin-top:5%">
    <div class="row">
      <div class="col-sm-12">
        <h2 style="font-family:Roboto,sans-serif">
          Cập nhật thông tin hồ sơ
        </h2>
      </div>
    </div>
    <div class="row" style="align-items:center;margin-top:5%">
      <div class="col-sm-3">
        <div class="text">Email</div>
      </div>
      <div class="col-sm-3" style="margin-left: -10%">
        <input
          type="text"
          placeholder="Email"
          style="width:300px"
          class="form-control"
          ref="email"
        />
      </div>
      <div class="col-sm-3" style="margin-left: 10%">
        <div class="text">ID Card</div>
      </div>
      <div class="col-sm-3" style="margin-left: -10%">
        <input
          type="text"
          placeholder="Căn cước công dân"
          style="width:300px"
          class="form-control"
        />
      </div>
    </div>
    <div class="row" style="align-items:center;margin-top:5%">
      <div class="col-sm-3">
        <div class="text">Địa chỉ</div>
      </div>
      <div class="col-sm-3" style="margin-left: -10%">
        <input
          type="text"
          placeholder="Nơi cư trú"
          style="width:300px"
          class="form-control"
        />
      </div>
      <div class="col-sm-3" style="margin-left: 10%">
        <div class="text">SĐT</div>
      </div>
      <div class="col-sm-3" style="margin-left: -10%">
        <input
          type="text"
          placeholder="Số điện thoại"
          style="width:300px"
          class="form-control"
        />
      </div>
    </div>
    <div class="row" style="align-items:center;margin-top:5%">
      <div class="col-sm-3">
        <div class="text">Giới tính</div>
      </div>
      <div class="col-sm-3">
        <a-radio-group style="margin-left:-50%" v-model:value="sex">
          <a-row>
            <a-radio
              class="general"
              v-on:click="clickGentlementRadio"
              value="gentlement"
              >Nam</a-radio
            >
            <a-radio
              class="general"
              @click="clickLadyRadio"
              style="margin-left:50px"
              value="lady"
              >Nữ</a-radio
            >
          </a-row>
        </a-radio-group>
      </div>
      <div class="col-sm-3">
        <div class="text">Cập nhật ảnh đại diện</div>
      </div>
      <div class="col-sm-3" v-if="this.gentlementclicked === 'true'">
        <img
          class="avatarupload"
          src="../../../assets/gentlementnonecolor-avatar.png"
        />
      </div>
      <div class="col-sm-3" v-if="this.ladyclicked === 'true'">
        <img
          class="avatarupload"
          src="../../../assets/ladynonecolor-avatar.png"
        />
      </div>
    </div>
    <div class="row" style="margin-top:5%">
      <div class="col-sm-6">
        <h2 style="font-family:Roboto,sans-serif">
          <router-link @click="$scrollToTop" to="/userinfo">
            <a-button class="updateinfo" type="primary">Cập nhật</a-button>
          </router-link>
        </h2>
      </div>
      <div class="col-sm-6">
        <h2 style="font-family:Roboto,sans-serif">
          <router-link @click="$scrollToTop" to="/userinfo">
            <a-button class="cancel" type="primary">Huỷ bỏ</a-button>
          </router-link>
        </h2>
      </div>
    </div>
  </div>
</template>
<script>
import NavbarContact from "./../../../components/NavbarContact";
import NavbarMenu from "./../../../components/NavbarMenu";
import { ref } from "vue";
export default {
  components: {
    NavbarContact,
    NavbarMenu,
  },
  data() {
    return {
      gentlementclicked: "true",
      ladyclicked: "false",
    };
  },
  setup() {
    const sex = ref("gentlement");
    return {
      sex,
    };
  },
  methods: {
    // onChange(event) {
    //   var this.data = event.target.value;
    //   console.log(data);
    // },
    clickGentlementRadio() {
      this.gentlementclicked = "true";
      this.ladyclicked = "false";
    },
    clickLadyRadio() {
      this.ladyclicked = "true";
      this.gentlementclicked = "false";
    },
  },
};
</script>

<style>
.text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
.general {
  font-weight: 400;
  font-size: 15px;
}
.avatarupload {
  height: 50%;
  width: 50%;
  margin-right: 30%;
}
.updateinfo {
  width: 136px;
  background-color: #ef7733;
  border-color: #ef7733 !important;
  font-size: 14px;
  color: #fff;
  border-radius: 10px;
  height: 48px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin-left: 71%;
}
.updateinfo:hover {
  border-color: #1890ff !important;
}
.cancel {
  width: 136px;
  height: 48px;
  background-color: #fff;
  border-radius: 10px;
  border: 0;
  color: #676767;
  margin-right: 66%;
  border: 1px solid #dadde0;
}
/* .submit {
  width: 200px;
  background-color: #f17423;
  font-size: 14px;
  color: #fff;
  padding: 10px;
  border-radius: 40px;
  height: 48px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin-top: 100px;
} */
</style>
