<template>
  <NavbarContact />
  <NavbarMenu />
  <div class="container" style="margin-top:5%">
    <div class="row">
      <div class="col-sm-12">
        <h2 style="font-family:Roboto,sans-serif">
          Đăng nhập tài khoản với Your House
        </h2>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <div class="col-sm-12">
            <a-input
              style="width:30%;margin-top:3%;"
              placeholder="email@example.com / 073023000"
              v-model:value="userName"
            >
              <template #prefix>
                <user-outlined type="user" />
              </template>
            </a-input>
          </div>
          <div class="col-sm-12">
            <a-input
              style="width:30%;margin-top:3%;"
              placeholder="password"
              v-model:value="passWord"
            >
              <template #prefix>
                <lock-outlined type="lock" />
              </template>
            </a-input>
          </div>
          <div class="col-sm-12">
            <!--col 6 lớn -->
            <!--col 12 nhỏ hơn -->
            <div class="row" style="display:contents">
              <label class="col-sm-6">
                <a-checkbox-group
                  style="margin-top:5%;font-family: Roboto, sans-serif;"
                  v-model:value="checkboxvalue"
                  :options="termCondition"
                />
              </label>
              <label
                class="col-sm-6"
                style="margin-top:5%;display:contents!important;"
              >
                <span
                  style="margin-right:30%;font-family: Roboto, sans-serif;color:#f17423;display: -webkit-inline-box;"
                  >Quên mật khẩu?</span
                ></label
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <a-button class="login" type="primary">ĐĂNG NHẬP</a-button>
      </div>
      <div class="col-sm-12" style="margin-top:2%">
        <router-link to="/register"
          ><span style="font-family: Roboto, sans-serif;color:#f17423"
            >Chưa có tài khoản?</span
          ></router-link
        >
      </div>
    </div>
  </div>
</template>

<script>
import NavbarContact from "./../../../components/NavbarContact";
import NavbarMenu from "./../../../components/NavbarMenu";
import { UserOutlined, LockOutlined } from "@ant-design/icons-vue";
import { reactive, toRefs } from "vue";
export default {
  components: {
    NavbarContact,
    NavbarMenu,
    UserOutlined,
    LockOutlined,
  },
  data() {
    const termCondition = ["Ghi nhớ tài khoản"];
    const state = reactive({
      checkboxvalue: [],
    });
    return {
      termCondition,
      ...toRefs(state),
    };
  },
};
</script>

<style>
.login {
  width: 30%;
  background-color: #f17423;
  font-size: 14px;
  color: #fff;
  padding: 10px;
  border-radius: 40px;
  height: 44px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin-top: 2%;
}
.ant-checkbox-group {
  margin-left: 48%;
  display: block;
}
</style>
