<template>
  <NavbarContact />
  <NavbarMenu />
  <HomeBanner />
  <QuickSearch />
  <div class="container" style="margin-top:3%">
    <div style="float:left">
      <h2>NHÀ BẤT ĐỘNG SẢN NỔI BẬT</h2>
    </div>
    <div style="float:right">
      <router-link @click="$scrollToTop" to="/search">
        <a
          ><button type="primary" class="classbutton" style="color:white">
            Xem tất cả
          </button></a
        >
      </router-link>
    </div>
  </div>
  <div class="container" style="margin-top:3%;display:inline-table">
    <div class="row">
      <HouseSaleItems :listDefaultHouseSale="listDefaultHouseSale" />
    </div>
  </div>
  <div class="container" style="margin-top:3%">
    <div style="float:left">
      <h2>NHÀ BĐS CHO THUÊ NỔI BẬT</h2>
    </div>
    <div style="float:right">
      <router-link @click="$scrollToTop" to="/search">
        <a
          ><button type="primary" class="classbutton" style="color:white">
            Xem tất cả
          </button></a
        >
      </router-link>
    </div>
  </div>
  <div class="container" style="margin-top:3%;display:inline-table">
    <div class="row">
      <HouseRentItems :listDefaultHouseRent="listDefaultHouseRent" />
    </div>
  </div>
  <div class="container" style="margin-top:3%">
    <div style="float:left">
      <h2>CĂN HỘ ĐANG BÁN NỔI BẬT</h2>
    </div>
    <div style="float:right">
      <router-link @click="$scrollToTop" to="/search">
        <a
          ><button type="primary" class="classbutton" style="color:white">
            Xem tất cả
          </button></a
        >
      </router-link>
    </div>
  </div>
  <div class="container" style="margin-top:3%;display:inline-table">
    <div class="row">
      <DepartmentSaleItems
        :listDefaultDepartmentSale="listDefaultDepartmentSale"
      />
    </div>
  </div>
  <div class="container" style="margin-top:3%">
    <div style="float:left">
      <h2>CĂN HỘ ĐANG CHO THUÊ NỔI BẬT</h2>
    </div>
    <div style="float:right">
      <router-link @click="$scrollToTop" to="/search">
        <a
          ><button type="primary" class="classbutton" style="color:white">
            Xem tất cả
          </button></a
        >
      </router-link>
    </div>
  </div>
  <div class="container" style="margin-top:3%;display:inline-table">
    <div class="row">
      <DepartmentRentItems
        :listDefaultDepartmentRent="listDefaultDepartmentRent"
      />
    </div>
  </div>
  <div class="container" style="margin-top:3%">
    <div style="float:left">
      <h2>ĐẤT NỀN ĐANG BÁN NỔI BẬT</h2>
    </div>
    <div style="float:right">
      <router-link @click="$scrollToTop" to="/search">
        <a
          ><button type="primary" class="classbutton" style="color:white">
            Xem tất cả
          </button></a
        >
      </router-link>
    </div>
  </div>
  <div class="container" style="margin-top:3%;display:inline-table">
    <div class="row">
      <LandSellItems :listDefaultLandSale="listDefaultLandSale" />
    </div>
  </div>
  <div class="container" style="margin-top:3%;align-text:center">
    <h1>Vì sao chọn Your House?</h1>
  </div>
  <div class="container">
    <NearlyFooter />
  </div>
  <Footer />
</template>

<script>
import NavbarContact from "./../../../components/NavbarContact";
import NavbarMenu from "./../../../components/NavbarMenu";
import HomeBanner from "./../../../components/HomeBanner";
import QuickSearch from "./../../../components/QuickSearch";
import HouseSaleItems from "./../../../components/HouseSaleItems";
import HouseRentItems from "./../../../components/HouseRentItems";
import DepartmentSaleItems from "./../../../components/DepartmentSaleItems";
import DepartmentRentItems from "./../../../components/DepartmentRentItems";
import LandSellItems from "./../../../components/LandSellItems";
import NearlyFooter from "./../../../components/NearlyFooter";
import Footer from "./../../../components/Footer";
import {
  getDefaultHouseRent,
  getDefaultHouseSale,
  getDefaultDepartmentSale,
  getDefaultDepartmentRent,
  getDefaultLandSale,
} from "../../../api/bdsApi";
export default {
  components: {
    NavbarContact,
    NavbarMenu,
    HomeBanner,
    QuickSearch,
    HouseSaleItems,
    HouseRentItems,
    DepartmentSaleItems,
    DepartmentRentItems,
    LandSellItems,
    NearlyFooter,
    Footer,
  },
  data() {
    return {
      listDefaultHouseSale: [],
      listDefaultHouseRent: [],
      listDefaultDepartmentSale: [],
      listDefaultDepartmentRent: [],
      listDefaultLandSale: [],
    };
  },
  async mounted() {
    try {
      const respDefaultHouseSale = await getDefaultHouseSale(3);
      const respDefaultHouseRent = await getDefaultHouseRent(3);
      const respDefaultDepartmentSale = await getDefaultDepartmentSale(3);
      const respDefaultDepartmentRent = await getDefaultDepartmentRent(3);
      const respDefaultLandSell = await getDefaultLandSale(3);
      console.log("dataHouseSale", respDefaultHouseSale.data);
      console.log("dataHouseRent", respDefaultHouseRent.data);
      console.log("dataDepartmentSale", respDefaultDepartmentSale.data);
      console.log("dataDepartmentRent", respDefaultDepartmentRent.data);
      console.log("dataLandSale", respDefaultLandSell.data);
      this.listDefaultHouseSale = respDefaultHouseSale.data;
      this.listDefaultHouseRent = respDefaultHouseRent.data;
      this.listDefaultDepartmentSale = respDefaultDepartmentSale.data;
      this.listDefaultDepartmentRent = respDefaultDepartmentRent.data;
      this.listDefaultLandSale = respDefaultLandSell.data;
    } catch (e) {
      console.log("da co loi xay ra", e);
    }
  },
  methods: {
    scrollToTop() {
      window.scrollTo(0, 0);
    },
  },
};
</script>

<style>
.classbutton {
  right: 0;
  top: 0;
  width: 100px;
  height: 40px;
  background-color: #0d58ac !important;
  border-radius: 20px !important;
  border-color: #0d58ac !important;
  font-size: 14px !important;
}
</style>
