<template>
  <div class="container" style="margin-top:5%">
    <div class="row">
      <div class="col-sm-6">
        <img
          class="images"
          style="height:450px;width:100%"
          src="../../assets/HouseSale.jpeg"
        />
      </div>
      <div class="col-sm-6">
        <div class="com-sm-3">
          <img class="images" src="../../assets/HouseSale.jpeg" />
        </div>
        <div class="com-sm-3">
          <img class="images" src="../../assets/HouseSale.jpeg" />
        </div>
        <div class="com-sm-3">
          <img class="images space" src="../../assets/HouseSale.jpeg" />
        </div>
        <div class="com-sm-3">
          <img class="images space" src="../../assets/HouseSale.jpeg" />
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top:2%">
    <div class="row">
      <div class="col-sm-8">
        <h3 style="text-align:left" class="fonttitle">
          <b>
            Bán nhà nguyên căn mới xây tại trung tâm quận 1 - Full nội thất tiện
            nghi
          </b>
        </h3>
      </div>
      <div
        class="col-sm-4"
        style="margin-top:-1.5%;"
        data-spy="affix"
        data-offset-top="500"
      >
        <div class="container box" style="margin-top:-1%">
          <div class="row">
            <div class="col-sm-12" style="margin-top:4.5%;">
              <b>Đăng ký xem nhà</b>
            </div>
            <div class="col-sm-12" style="margin-top:10%;">
              <a-radio-group v-model:value="valuePhoneorEmail">
                <a-row>
                  <a-radio class="general" value="Phone"
                    >Gọi lại cho tôi</a-radio
                  >
                  <a-radio class="general" value="Email">Gửi qua email</a-radio>
                </a-row>
              </a-radio-group>
            </div>
            <div class="col-sm-12" style="margin-top:15%">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    class="bi bi-person"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
                    ></path>
                  </svg>
                </span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nhập họ tên (*)"
                />
              </div>
            </div>
            <div
              class="col-sm-12"
              style="margin-top:1%;color:red;font-size:15px;display:none"
            >
              <p style="float:left;">Vui lòng nhập họ tên của anh chị</p>
            </div>
            <div class="col-sm-12" style="margin-top:5%">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-envelope"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"
                    />
                  </svg>
                </span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nhập email (*)"
                />
              </div>
            </div>
            <div
              class="col-sm-12"
              style="color:red;font-size:15px;display:none"
            >
              <p style="float:left;">Vui lòng nhập email của anh chị</p>
            </div>
            <div class="col-sm-12" style="margin-top:5%">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-telephone"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
                    />
                  </svg>
                </span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nhập số điện thoại (*)"
                />
              </div>
            </div>
            <div
              class="col-sm-12"
              style="color:red;font-size:15px;display:none"
            >
              <p style="float:left;">Vui lòng nhập số điện thoại của anh chị</p>
            </div>
            <div class="col-sm-12" style="margin-top:5%">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-calendar"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
                    />
                  </svg>
                </span>
                <a-date-picker
                  v-model:value="valueDatePicker"
                  :format="dateFormatList"
                />
              </div>
            </div>
            <div class="col-sm-12" style="margin-top:10%">
              <a-button
                class="submit"
                type="primary"
                style="background-color:#f17423 !important;border: 1px solid #f17423 !important;"
                >Đặt ngay</a-button
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div style="margin-left:0.5%;">
          <p
            class="card-text"
            style="float:left;font-size:18px;text-align:left"
          >
            <i style="color:grey;font-size:15px" class="fas">&#xf3c5;</i
            >&nbsp;<span
              style="font-size:18px;font-family: SF-UI-Display,sans-serif;"
              >Phường Nguyễn Cư Trinh, Quận 1</span
            >
          </p>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div style="margin-left:0.5%;">
          <p
            class="card-text"
            style="float:left;font-size:18px;text-align:left"
          >
            <span
              class="detail-price"
              style="font-family: SF-UI-Display,sans-serif;"
              >8 tỷ</span
            >&nbsp;&nbsp;&nbsp;
            <span style="font-family: SF-UI-Display,sans-serif;color:grey"
              >270 triệu/m2</span
            >
          </p>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div style="margin-left:0.5%;">
          <p
            class="card-text"
            style="float:left;font-size:18px;text-align:left"
          >
            <span
              class="badge badge-success"
              style="color:#ef7733;font-family: SF-UI-Display,sans-serif;"
              >Bán</span
            >
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span
              class="badge badge-info"
              style="font-family: SF-UI-Display,sans-serif;"
              >Đã thẩm định</span
            >
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span
              class="badge badge-light"
              style="font-family: SF-UI-Display,sans-serif;color:grey"
              >ID 11111</span
            >
          </p>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="container" style="margin-top:2%">
    <div class="row">
      <div class="col-sm-8">
        <label class="icon-space" style="line-height:100px">
          <ul id="ul_top_hypers" style="display:flex">
            <li>
              <span>
                Phòng ngủ
              </span>
              <span style="color:#155aa9">
                2
              </span>
            </li>
            <li>
              <span>
                Phòng tắm
              </span>
              <span style="color:#155aa9">
                2
              </span>
            </li>
            <li>
              <span>
                Diện tích
              </span>
              <span style="color:#155aa9">
                60m2
              </span>
            </li>
            <li>
              <span>
                Chiều dài
              </span>
              <span style="color:#155aa9">
                15m2
              </span>
            </li>
            <li>
              <span>
                Chiều rộng
              </span>
              <span style="color:#155aa9">
                4m2
              </span>
            </li>
          </ul>
        </label>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="container" style="margin-top:2%">
    <div class="row">
      <div class="col-sm-8">
        <h3 style="text-align:left" class="fonttitle">
          <b>
            TỔNG QUAN
          </b>
        </h3>
        <strong style="text-align:left;float:left;font-size:18px"
          >Bán nhà nguyên căn mới xây tại TRUNG TÂM QUẬN 1, đầy đủ tiện
          nghi!</strong
        ><br />
        <span style="text-align:left;float:left;font-size:15px;line-height:2">
          Diện tích nhà ngang 3m x dài 10.5m. Tổng DTSD : 56,65m2 Kết cấu nhà 1
          trệt 1 lầu với 2 phòng ngủ, 3 wc, full nội thất tiện nghi. Nhà có hẻm
          ra vào thông thoáng, xe hơi vào được, chỉ cần xách vali vào là ở. Nhà
          mới sửa sang nên đồ còn rất mới Vị trí cực đẹp, giá tốt ngay trung tâm
          thành phố, xung quanh là Thảo Cầm Viên, svđ Hoa Lư, tổng lãnh sự quán
          Pháp, Mỹ, ĐH Y dược TPHCM, ĐH khoa học, xã hội và nhân văn. Kết nối
          các Quận 3, Quận 10, Quận Phú Nhuận, Bình Thạnh nhanh chóng.Thuận tiện
          đi lại và sinh hoạt ở các quận trung tâm thành phố ,không xảy ra tình
          trạng kẹt xe vào sáng sớm và tan sở. Ngoài ra còn có các atm, ngân
          hàng, cửa hàng tiện ích, nhà hàng trong bán kính 1km Giá bán đã bao
          gồm full toàn bộ nội thất. Có thể vào ở ngay hoặc cho thuê lại với giá
          18 đến 20tr/ tháng Pháp lý sạch.Sổ hồng chính chủ nguyên căn , giấy tờ
          rõ ràng, mua vào ở ngay giao dịch an toàn, minh bạch.
        </span>
      </div>
    </div>
    <div class="col-sm-4"></div>
    <div class="row">
      <div class="col-sm-8"><hr /></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="container" style="margin-top:1%">
    <div class="row">
      <div class="col-sm-8">
        <h3 style="text-align:left" class="fonttitle">
          <b>
            THÔNG TIN CHI TIẾT
          </b>
        </h3>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div
        class="col-sm-4"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../assets/Bed.png" />
        <span style="margin-left: 5%;">Phòng ngủ</span>
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 50%;"
          >4</span
        >
      </div>
      <div
        class="col-sm-4"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../assets/Bed.png" />
        <span style="margin-left: 5%;">Diện tích đất</span>
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 50%;"
          >50m2</span
        >
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row" style="margin-top:-1%">
      <div class="col-sm-8"><hr /></div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row" style="margin-top:-1%">
      <div
        class="col-sm-4"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../assets/Bed.png" />
        <span style="margin-left: 5%;">Phòng tắm</span>
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 50%;"
          >3</span
        >
      </div>
      <div
        class="col-sm-4"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../assets/Bed.png" />
        <span style="margin-left: 15%;position:absolute"
          >Diện tích sử dụng</span
        >
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 72%;"
          >210.5m2</span
        >
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row" style="margin-top:-1%">
      <div class="col-sm-8"><hr /></div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row" style="margin-top:-1%">
      <div
        class="col-sm-4"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../assets/Bed.png" />
        <span style="margin-left: 5%;">Hướng</span>
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 50%;"
          >T.Bắc</span
        >
      </div>
      <div
        class="col-sm-4"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../assets/Bed.png" />
        <span style="margin-left: 5%;">Chiều dài</span>
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 52%;"
          >12.55m</span
        >
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row" style="margin-top:-1%">
      <div class="col-sm-8"><hr /></div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row" style="margin-top:-1%">
      <div
        class="col-sm-4"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../assets/Bed.png" />
        <span style="margin-left:15%;position:absolute">Hiện trạng nhà</span>
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 63%;"
          >Để trống</span
        >
      </div>
      <div
        class="col-sm-4"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../assets/Bed.png" />
        <span style="margin-left: 5%;">Chiều rộng</span>
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 54%;"
          >5.1m</span
        >
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row" style="margin-top:-1%">
      <div class="col-sm-8"><hr /></div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row" style="margin-top:-1%">
      <div
        class="col-sm-4"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../assets/Bed.png" />
        <span style="margin-left: 5%;">Giấy tờ</span>
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 45%;"
          >Sổ hồng</span
        >
      </div>
      <div
        class="col-sm-4"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../assets/Bed.png" />
        <span style="margin-left: 5%;">Độ rộng hẻm</span>
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 50%;"
          >4.0m</span
        >
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row" style="margin-top:-1%">
      <div class="col-sm-8"><hr /></div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row" style="margin-top:-1%">
      <div
        class="col-sm-4"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../assets/Bed.png" />
        <span style="margin-left: 15%;position: absolute;">Kết cấu nhà</span>
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 50%;"
          >1 trệt, 1 lửng + 2 lầu</span
        >
      </div>
      <div
        class="col-sm-4"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../assets/Bed.png" />
        <span style="margin-left: 15%;position:absolute"
          >Độ rộng mặt tiền đường</span
        >
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 83%;"
          >--</span
        >
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-8"><hr /></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="container" style="margin-top:1%">
    <div class="row">
      <div class="col-sm-8">
        <h3 style="text-align:left" class="fonttitle">
          <b>
            THÔNG TIN THÊM
          </b>
        </h3>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-8" style="margin-top:1%">
        <ul>
          <li
            style="    list-style: inside;
    float: left;"
          >
            Gần chợ, siêu thị
          </li>
          <li
            style="    list-style: inside;
    float: left;margin-left:20%"
          >
            Gần trường học
          </li>
          <li
            style="    list-style: inside;
    float: left;margin-left:20%"
          >
            Thiết kế thông thoáng
          </li>
        </ul>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-8" style="margin-top:1%">
        <ul>
          <li
            style="    list-style: inside;
    float: left;"
          >
            Gần công viên, trung tâm
          </li>
          <li
            style="    list-style: inside;
    float: left;margin-left:34.7%;position:absolute"
          >
            Gần mặt tiền đường
          </li>
          <li
            style="    list-style: inside;
    float: left;margin-left:50%"
          >
            Sân để xe rộng rãi
          </li>
        </ul>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-8"><hr /></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="container" style="margin-top:1%">
    <div class="row">
      <div class="col-sm-8">
        <h3 style="text-align:left" class="fonttitle">
          <b>
            DỰ ÁN
          </b>
        </h3>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-8" style="margin-top:1%">
        <div style="margin-left:1%;float:left;">
          <span class="d-info-overview">Tên dự án: </span>SAI GON MIA
        </div>
        <br />
        <div
          style="display: flex;
    text-align: center;
    line-height: 2;
    flex-wrap: wrap;"
        >
          <img class="ic-d" src="../../assets/Bed.png" />
          <span class="d-info-overview" style="margin-left:1%">Vị trí: </span
          >Đường số 9A, Khu dân cư Trung Sơn, Bình Chánh, Hồ Chí Minh, Việt Nam
        </div>
        <div
          style="display: flex;
    text-align: center;
    line-height: 2;
    flex-wrap: wrap;"
        >
          <img class="ic-d" src="../../assets/Bed.png" />
          <span class="d-info-overview" style="margin-left:1%"
            >Chủ đầu tư: </span
          >Tập đoàn Hưng Thịnh
        </div>
        <div
          style="display: flex;
    text-align: center;
    line-height: 2;
    flex-wrap: wrap;"
        >
          <img class="ic-d" src="../../assets/Bed.png" />
          <span class="d-info-overview" style="margin-left:1%">Quy mô: </span>3
          block, 869 căn hộ
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-8"><hr /></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="container" style="margin-top:1%">
    <div class="row">
      <div class="col-sm-8">
        <h3 style="text-align:left" class="fonttitle">
          <b>
            KHOẢN VAY
          </b>
        </h3>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="container" style="margin-top:2%">
        <div class="row">
          <div class="col-sm-8">
            <label class="icon-space-count" style="line-height:100px">
              <div class="row">
                <div class="col-sm-6" style="float:left">
                  <span
                    style="font-weight:700;padding-left:5%;float: left;font-size:18px"
                    >TÍNH TOÁN TRẢ GÓP</span
                  >
                </div>

                <div class="col-sm-6" style="float:left">
                  <label
                    style="background-color: #e5e7eb77;height:730%;width:100%"
                    ><span style="font-weight:700;font-size:18px">KẾT QUẢ</span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <span
                    style="  float: left;
    margin-left: 5%;
    font-size: 14px;
    margin-top: -20%;
    font-weight: 700;"
                    >Giá trị bất động sản</span
                  >
                  <div>
                    <div class="col-sm-6">
                      <div class="input-group" style="width:230%!important">
                        <input
                          type="text"
                          value="3.000.000.000"
                          class="form-control"
                          disabled
                        />
                        <div class="input-group-addon input-currency">VNĐ</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" style="text-align: -webkit-center;">
                  <span
                    style="  float: left;
    margin-left: 5%;
    font-size: 14px;
    margin-top: -20%;
    font-weight: 700;"
                    >Tổng giá trị phải trả</span
                  >
                  <div
                    class="col-sm-6"
                    style="    text-align: -webkit-auto;
    font-size: 20px;
    font-weight: 700;
    color: #8d766a;"
                  >
                    6,8 Tỷ
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <span
                    style="  float: left;
    margin-left: 5%;
    font-size: 14px;
    font-weight: 700;"
                    >Khoản vay</span
                  >
                  <div>
                    <div class="col-sm-6">
                      <div class="input-group" style="width:230%!important">
                        <input
                          type="text"
                          value="3.000.000.000"
                          class="form-control"
                        />
                        <div class="input-group-addon input-currency">VNĐ</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <span
                    style="  float: left;
    margin-left: 5%;
    font-size: 18px;
    font-weight: 700;
    color:#7d7d7d;"
                    >Gốc cần trả:
                  </span>
                  <span
                    style="color:#155aa9;font-weight:700;font-size: 16px;margin-left:6%"
                    >2.000.000.000</span
                  >
                  <div>
                    <span
                      style="  float: left;
    margin-left: 5%;
    font-size: 18px;
    font-weight: 700;
    color:#7d7d7d;"
                      >Cần trả trước:
                    </span>
                    <span style="color:#ef7733;font-weight:700;font-size:16px"
                      >2.000.000.000</span
                    >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <span
                    style="  float: left;
    margin-left: 5%;
    font-size: 14px;
    font-weight: 700;"
                    >Thời hạn vay(năm)</span
                  >
                  <div>
                    <div class="col-sm-6">
                      <a-select
                        v-model:value="defaultvalue"
                        style="width: 230%"
                        @focus="focus"
                        ref="select"
                        @change="handleChange"
                      >
                        <a-select-option value="10-years"
                          >10 năm</a-select-option
                        >
                        <a-select-option value="15-years"
                          >15 năm</a-select-option
                        >
                      </a-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <span
                    style="  float: left;
    margin-left: 5%;
    font-size: 18px;
    font-weight: 700;
    color:#7d7d7d;"
                    >Lãi cần trả:
                  </span>
                  <span
                    style="color:#00adbb;font-weight:700;font-size:16px;margin-left:9%"
                    >2.000.000.000</span
                  >
                  <div>
                    <span
                      style="
    font-size: 18px;
    font-weight: 700;
    color: rgb(125, 125, 125);"
                      >Thanh toán hằng tháng</span
                    >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <span
                    style="  float: left;
    margin-left: 5%;
    font-size: 14px;
    font-weight: 700;"
                    >Ngân hàng</span
                  >
                  <div>
                    <div class="col-sm-6">
                      <a-select
                        v-model:value="defaultbankvalue"
                        style="width: 250%"
                        @focus="focus"
                        ref="select"
                        @change="handleChange"
                      >
                        <a-select-option value="Vietcombank"
                          >Vietcombank</a-select-option
                        >
                        <a-select-option value="Techcombank"
                          >Techcombank</a-select-option
                        >
                      </a-select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <span
                    style="  float: left;
    margin-left: 5%;
    font-size: 14px;
    font-weight: 700;"
                    >Lãi suất</span
                  >
                  <div>
                    <div class="col-sm-6">
                      <div
                        class="input-group"
                        style="
    display: inline-table;"
                      >
                        <input
                          type="text"
                          value="7.7"
                          class="form-control"
                          disabled
                          style="width: 200%;"
                        />
                        <div
                          class="input-group-addon input-currency"
                          style="padding-left: 35px;border-radius: 0 5px 5px 0;"
                        >
                          %
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div
                    style="font-size: 30px;
    font-weight: 700;
    color: #8d766a;"
                  >
                    ~40,5 triệu
                  </div>
                  <div>
                    <a-button class="submit" type="primary"
                      >ĐĂNG KÝ VAY</a-button
                    >
                  </div>
                </div>
              </div>
            </label>
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8"><hr /></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="container" style="margin-top:1%">
    <div class="row">
      <div class="col-sm-10">
        <h3 style="text-align:left" class="fonttitle">
          <b>
            NHÀ RIÊNG CÙNG TẦM GIÁ
          </b>
        </h3>
      </div>
      <div class="col-sm-2">
        <a-button class="showmore">Xem tất cả</a-button>
      </div>
    </div>
    <div class="row">
      <NearlyLocationItems />
      <NearlyLocationItems />
      <NearlyLocationItems />
      <NearlyLocationItems />
    </div>
    <div class="row">
      <div class="col-sm-12"><hr /></div>
    </div>
  </div>
  <div class="container" style="margin-top:1%">
    <div class="row">
      <div class="col-sm-8">
        <h3 style="text-align:left" class="fonttitle">
          <b>
            NHÀ/CĂN HỘ CÁC QUẬN LÂN CẬN
          </b>
        </h3>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="margin-top:1%">
        <ul>
          <li
            style="    list-style: inside;
    float: left;"
          >
            Quận 1
          </li>
          <li
            style="    list-style: inside;
    float: left;margin-left:15%"
          >
            Quận 2
          </li>
          <li
            style="    list-style: inside;
    float: left;margin-left:15%"
          >
            Quận 3
          </li>
          <li
            style="    list-style: inside;
    float: left;margin-left:15%"
          >
            Quận 4
          </li>
          <li
            style="    list-style: inside;
    float: left;margin-left:15%"
          >
            Quận 5
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="margin-top:1%">
        <ul>
          <li
            style="    list-style: inside;
    float: left;"
          >
            Quận 6
          </li>
          <li
            style="    list-style: inside;
    float: left;margin-left:15%"
          >
            Quận 7
          </li>
          <li
            style="    list-style: inside;
    float: left;margin-left:15%"
          >
            Quận 8
          </li>
          <li
            style="    list-style: inside;
    float: left;margin-left:15%"
          >
            Quận 9
          </li>
          <li
            style="    list-style: inside;
    float: left;margin-left:15%"
          >
            Quận 10
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="margin-top:1%">
        <ul>
          <li
            style="    list-style: inside;
    float: left;"
          >
            Quận 11
          </li>
          <li
            style="    list-style: inside;
    float: left;margin-left:14.3%"
          >
            Quận 12
          </li>
          <li
            style="    list-style: inside;
    float: left;margin-left:14.3%"
          >
            Quận Tân Bình
          </li>
          <li
            style="    list-style: inside;
    float: left;margin-left:10.5%"
          >
            Quận Tân Phú
          </li>
          <li
            style="    list-style: inside;
    float: left;margin-left:10.8%"
          >
            Quận Phú Nhuận
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="margin-top:1%">
        <ul>
          <li
            style="    list-style: inside;
    float: left;"
          >
            Quận Bình Tân
          </li>
          <li
            style="    list-style: inside;
    float: left;margin-left:10.3%"
          >
            Quận Thủ Đức
          </li>
          <li
            style="    list-style: inside;
    float: left;margin-left:10.7%"
          >
            Quận Gò Vấp
          </li>
          <li
            style="    list-style: inside;
    float: left;margin-left:11.3%"
          >
            Quận Bình Thạnh
          </li>
          <li
            style="    list-style: inside;
    float: left;margin-left:9.1%"
          >
            Huyện Nhà Bè
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div style="width:100%"><Footer /></div>
</template>

<script>
import NearlyLocationItems from "./NearlyLocationItems";
import Footer from "./../Footer";
import { ref } from "vue";
import dayjs from "dayjs";
export default {
  components: {
    NearlyLocationItems,
    Footer,
  },
  mounted() {
    let recaptchaScript = document.createElement("script");
    recaptchaScript.setAttribute(
      "src",
      "https://kit.fontawesome.com/a076d05399.js"
    );
    document.head.appendChild(recaptchaScript);
  },
  setup() {
    const value = ref("A");
    const valuePhoneorEmail = ref("Phone");
    const dateFormatList = ["DD/MM/YYYY", "DD/MM/YY"];
    const focus = () => {
      console.log("focus");
    };

    const handleChange = (value) => {
      console.log(`selected ${value}`);
    };
    return {
      value,
      valuePhoneorEmail,
      focus,
      handleChange,
      defaultvalue: ref("Chọn thời hạn vay mong muốn"),
      defaultbankvalue: ref("Chọn ngân hàng vay"),
      valueDatePicker: ref(dayjs("01/01/2010", dateFormatList[0])),
      dateFormatList,
    };
  },
};
</script>

<style>
.images {
  object-fit: cover;
  width: 48%;
  height: 215px;
  float: right;
  margin-left: 1%;
  border-radius: 8px;
}
.space {
  margin-top: 20px;
}
.fonttitle {
  font-family: SF-UI-Display, sans-serif;
  font-size: 21px;
}
.detail-price {
  font-size: 24px;
  color: #ef7733;
  font-weight: 700;
  margin-bottom: 13px;
}
.badge-success {
  color: #ef7733;
  background-color: #ffebe0;
}
.badge-info {
  color: #242933;
  background-color: #abcaf1;
}
.badge-light {
  color: #242933;
  background-color: #d3d5d8;
}
.icon-space {
  color: #242933;
  background-color: #e5e7eb77;
  height: 100px;
  width: 100%;
}
.icon-space-count {
  height: 800px;
  width: 100%;
  border: 4px solid #f4f4f4;
  border-radius: 8px;
}
#ul_top_hypers li {
  display: inline;
  padding: 2%;
  margin-right: 1%;
  font-family: SF-UI-Display, sans-serif;
}
.ic {
  height: 40px;
  width: 40px;
  float: left;
}
.ic-d {
  height: 30px;
  width: 30px;
  float: left;
}
.d-info-overview {
  font-weight: 700;
}
.input-currency {
  color: #555;
  font-weight: 700;
  border-left: 0;
  border-top-left-radius: 0;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 2.6;
  display: table-cell;
  padding: 0 10px;
  background-color: #eee;
  border: 1px solid #ececec;
  height: 100%;
  border-bottom-left-radius: 0;
}
.submit {
  width: 80%;
  height: 40px;
  background: #155aa9;
  border: 1px solid #155aa9;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
}
.showmore {
  width: 80%;
  height: 35px;
  background: #fff;
  color: #0d58ac;
  border: 1px solid #0d58ac;
  border-radius: 4px;
}
.box {
  width: 92%;
  height: 500px;
  background: #fafafa;
  box-shadow: 0 2px 10px rgb(0 0 0 / 15%);
  position: absolute;
  border: 0.3px solid #d9d9d9 !important;
  font-size: 21px;
  border-radius: 8px;
}
.ant-calendar-picker-icon {
  display: none !important;
}
.ant-calendar-picker-input.ant-input {
  height: 38px !important;
}
.affix {
  position: fixed;
  top: 20px;
  z-index: 9999 !important;
}
</style>
