<template>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <div style="display:flex;align-items:centers">
    <ul class="nav">
      <li>
        <div style="display:flex; align-items:center">
          <router-link to="/"
            ><img src="../../assets/logoweb.png" style="heigh:150px;width:150px"
          /></router-link>
          <DropListBuy />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <DropListForRent />
        </div>
      </li>
    </ul>
    <ul class="nav">
      <router-link to="/submitBDS"
        ><li>
          <div style="display:flex; align-items:center;margin-top:25px">
            <a-button
              type="primary"
              style="background:#0d58ac;border-radius: 15px;"
            >
              <template #icon><SendOutlined /></template>
              Gửi BDS
            </a-button>
          </div>
        </li></router-link
      >
      <li>
        <router-link to="/login">
          <div style="display:flex; align-items:center;margin-top:25px">
            <a-button
              type="primary"
              style="background:green;border-radius: 15px;"
            >
              <template #icon><UserOutlined /></template>
              Đăng Nhập/Đăng Ký
            </a-button>
          </div>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import DropListBuy from "./../DropList-Buy";
import DropListForRent from "./../DropList-ForRent";
import { UserOutlined, SendOutlined } from "@ant-design/icons-vue";
export default {
  components: {
    DropListBuy,
    UserOutlined,
    SendOutlined,
    DropListForRent,
  },
};
</script>

<style>
html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.nav {
  list-style: none;
  margin-left: 15%;
  padding: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
}

.nav li {
  float: right;
  margin-left: 4%;
  font-weight: bold;
  line-height: 50px;
}

a {
  color: white;
  text-decoration: none;
}
.anticon.anticon-user svg {
  margin-bottom: 4px;
}
.anticon.anticon-send svg {
  margin-bottom: 4px;
}
</style>
