<template>
  <div class="row">
    <div class="col-sm-4">
      <img src="../../assets/AboveFooter1.png" class="general-css-images-1" />
    </div>
    <div class="col-sm-4">
      <img src="../../assets/AboveFooter2.png" class="general-css-images-1" />
    </div>
    <div class="col-sm-4">
      <img src="../../assets/AboveFooter3.png" class="general-css-images-1" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3 style="float:left;">Hàng ngàn bất động sản đăng bán mỗi ngày</h3>
    </div>
    <div class="col-sm-4">
      <h3 style="float:left;">Mua bán đảm bảo với dịch vụ pháp lý miễn phí</h3>
    </div>
    <div class="col-sm-4">
      <h3 style="float:left;">Giao dịch đảm bảo và tiện lợi tại các TC</h3>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
.general-css-images-1 {
  width: 500px;
  margin-left: -80px;
}
</style>
