<template>
  <NavbarContact />
  <NavbarMenu />
  <div class="container" style="margin-top:5%">
    <div class="row">
      <div class="col-sm-12">
        <h2 style="font-family:Roboto,sans-serif">
          Hồ sơ cá nhân
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="row horizontal text" style="margin-top:5%">
          <div class="col-sm-4">
            <span>Username</span>
          </div>
          <div class="col-sm-8">
            <div class="input-group" style="width:100%">
              <input type="text" value="userA" class="form-control" disabled />
            </div>
          </div>
        </div>
        <div class="row horizontal text" style="margin-top:5%">
          <div class="col-sm-4">
            <span>Email</span>
          </div>
          <div class="col-sm-8">
            <div class="input-group" style="width:100%">
              <input
                type="text"
                value="userA@gmail.com"
                class="form-control"
                disabled
              />
            </div>
          </div>
        </div>
        <div class="row horizontal text" style="margin-top:5%">
          <div class="col-sm-4">
            <span>Địa chỉ</span>
          </div>
          <div class="col-sm-8">
            <div class="input-group" style="width:100%">
              <input
                type="text"
                value="121 Hàm Tử Q5 Tp.HCM"
                class="form-control"
                disabled
              />
            </div>
          </div>
        </div>
        <div class="row horizontal text" style="margin-top:5%">
          <div class="col-sm-4">
            <span>Số điện thoại</span>
          </div>
          <div class="col-sm-8">
            <div class="input-group" style="width:100%">
              <input
                type="text"
                value="01122112299"
                class="form-control"
                disabled
              />
            </div>
          </div>
        </div>
        <div class="row horizontal text" style="margin-top:5%">
          <div class="col-sm-4">
            <span>CMND/CCCD</span>
          </div>
          <div class="col-sm-8">
            <div class="input-group" style="width:100%">
              <input
                type="text"
                value="024919372"
                class="form-control"
                disabled
              />
            </div>
          </div>
        </div>
        <div class="row horizontal text" style="margin-top:5%">
          <div class="col-sm-4">
            <span>Số lượng các BĐS đã đăng</span>
          </div>
          <div class="col-sm-8 horizontal">
            <span
              style="color:#ef7733;float:left;font-weight:700;font-size:18px"
              >6</span
            >

            <a-button class="moredetail" type="primary"
              ><router-link @click="$scrollToTop" to="/realestatemanagement"
                >Xem thêm chi tiết</router-link
              ></a-button
            >
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div>
          <img
            class="avatarupload"
            src="../../../assets/gentlementnonecolor-avatar.png"
          />
        </div>
      </div>
    </div>
    <div class="row horizontal text" style="margin-top:5%;">
      <div class="col-sm-6">
        <router-link @click="$scrollToTop" to="/updateinfo">
          <a-button class="updateinfo" type="primary">Cập nhật hồ sơ</a-button>
        </router-link>
      </div>
      <div class="col-sm-6">
        <router-link @click="$scrollToTop" to="/">
          <a-button class="cancel" type="primary">Huỷ bỏ</a-button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import NavbarContact from "./../../../components/NavbarContact";
import NavbarMenu from "./../../../components/NavbarMenu";
export default {
  components: {
    NavbarContact,
    NavbarMenu,
  },
};
</script>

<style>
.horizontal {
  display: flex;
  align-items: center;
}
.text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
.moredetail {
  width: 200px;
  background-color: #173e69;
  font-size: 14px;
  color: #fff;
  border-radius: 10px;
  height: 48px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin-left: auto;
}
.updateinfo {
  width: 136px;
  background-color: #ef7733;
  border-color: #ef7733 !important;
  font-size: 14px;
  color: #fff;
  border-radius: 10px;
  height: 48px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin-left: 71%;
}
.updateinfo:hover {
  border-color: #1890ff !important;
}
.cancel {
  width: 136px;
  height: 48px;
  background-color: #fff;
  border-radius: 10px;
  border: 0;
  color: #676767;
  margin-right: 66%;
  border: 1px solid #dadde0;
}
.avatarupload {
  margin-top: 45%;
  height: 50%;
  width: 50%;
  margin-right: 30%;
}
</style>
