<template>
  <NavbarContact />
  <NavbarMenu />
  <QuickSearch />
  <SearchAreaBar @Top5="Top5" @Top10="Top10" @ShowAll="ShowAll" />
  <ResultAreaPage :itemList="itemList" />
  <Footer />
</template>

<script>
import NavbarContact from "./../../../components/NavbarContact";
import NavbarMenu from "./../../../components/NavbarMenu";
import SearchAreaBar from "./../../../components/SearchAreaBar";
import ResultAreaPage from "./../../../components/ResultAreaPage";
import Footer from "./../../../components/Footer";
import { getBDS, getTopViewBDS } from "../../../api/bdsApi";

export default {
  components: {
    NavbarContact,
    NavbarMenu,
    SearchAreaBar,
    ResultAreaPage,
    Footer,
  },
  data() {
    return {
      itemList: [],
    };
  },
  async mounted() {
    try {
      const resp = await getTopViewBDS(4);
      console.log("data", resp.data);
      this.itemList = resp.data;
    } catch (e) {
      console.log("da co loi xay ra");
    }
    // axios load data from api
  },
  methods: {
    async Top5(e, lim) {
      console.log(lim);
      try {
        const resp = await getTopViewBDS(lim);
        console.log("data", resp.data);
        this.itemList = resp.data;
      } catch (e) {
        console.log("da co loi xay ra");
      }

      // axios load data from api
    },
    async Top10(e, lim) {
      console.log(lim);
      try {
        const resp = await getTopViewBDS(lim);
        console.log("data", resp.data);
        this.itemList = resp.data;
      } catch (e) {
        console.log("da co loi xay ra");
      }
    },
    async ShowAll() {
      try {
        const resp = await getBDS();
        console.log("data", resp.data);
        this.itemList = resp.data;
      } catch (e) {
        console.log("da co loi xay ra");
      }
    },
  },
};
</script>

<style></style>
