<template>
  <div class="container" style="margin-top:2%">
    <div class="row" style="height:230px;">
      <div class="col-sm-2">
        <router-link @click="$scrollToTop" to="/search">
          <img src="../../assets/Buy-House-1.png" class="general-css-images" />
        </router-link>
        <h3 style="margin-top:5%">Mua Nhà</h3>
      </div>
      <div class="col-sm-2">
        <router-link @click="$scrollToTop" to="/search">
          <img src="../../assets/Rent-House-1.png" class="general-css-images" />
        </router-link>
        <h3 style="margin-top:5%">Thuê Nhà</h3>
      </div>
      <div class="col-sm-2">
        <router-link @click="$scrollToTop" to="/search">
          <img
            src="../../assets/Buy-Department-1.png"
            class="general-css-images"
          />
        </router-link>
        <h3 style="margin-top:5%">Mua Căn Hộ</h3>
      </div>
      <div class="col-sm-2">
        <router-link @click="$scrollToTop" to="/search">
          <img
            src="../../assets/Rent-Department-1.png"
            class="general-css-images"
          />
        </router-link>
        <h3 style="margin-top:5%">Thuê Căn Hộ</h3>
      </div>
      <div class="col-sm-2">
        <router-link @click="$scrollToTop" to="/search">
          <img src="../../assets/Buy-Land-1.png" class="general-css-images" />
        </router-link>
        <h3 style="margin-top:5%">Mua Đất</h3>
      </div>
      <div class="col-sm-2">
        <router-link @click="$scrollToTop" to="/search">
          <img src="../../assets/Support-1.png" class="general-css-images" />
        </router-link>
        <h3 style="margin-top:5%">Hỗ Trợ</h3>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
.general-css-images {
  width: 100%;
}
</style>
