<template>
  <NavbarContact />
  <NavbarMenu />
  <div class="container" style="margin-top:5%">
    <div class="row">
      <div class="col-sm-12">
        <h2 style="font-family:Roboto,sans-serif">
          Sổ tay Bất Động Sản của tôi
        </h2>
      </div>
    </div>
    <div class="row" style="margin-top:5%">
      <div class="col-sm-12">
        <table class="table">
          <thead style="background-color:#ef7733">
            <tr>
              <th>STT</th>
              <th>Mã bất động sản</th>
              <th>Địa chỉ</th>
              <th>Giá mong muốn(VNĐ)</th>
              <th>Loại hình giao dịch</th>
              <th>Loại bất động sản</th>
              <th>Trạng thái</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr class="uploaded">
              <td>1</td>
              <td>390182882</td>
              <td>Số 3 Phường Nguyễn Cư Trinh, Quận 1, TP HCM</td>
              <td>15.000.000</td>
              <td>Cho thuê</td>
              <td>Chung cư/căn hộ</td>
              <td>Đã đăng</td>
              <td>
                <router-link
                  @click="$scrollToTop"
                  to="/editrealestatemanagement"
                  ><a-button class="edit">Chỉnh sửa</a-button></router-link
                >
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>910132784</td>
              <td>180 Cao Thắng Phường 5 Quận 3 Hồ Chí Minh</td>
              <td>2.000.000.000</td>
              <td>Bán</td>
              <td>Đất nền</td>
              <td>Chưa đăng</td>
              <td>
                <router-link
                  @click="$scrollToTop"
                  to="/editrealestatemanagement"
                  ><a-button class="edit">Chỉnh sửa</a-button></router-link
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import NavbarContact from "./../../../components/NavbarContact";
import NavbarMenu from "./../../../components/NavbarMenu";
export default {
  components: {
    NavbarContact,
    NavbarMenu,
  },
};
</script>

<style>
.edit {
  width: 100%;
  background-color: #f17423;
  font-size: 14px;
  color: #fff;
  border-radius: 5px;
  height: 25px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}
.uploaded {
  background-color: rgb(13, 88, 172);
  border-radius: 5px;
  color: #fff;
  height: 48px;
  font-size: 14px;
  font-family: Roboto, sans-serif;
}
</style>
