<template>
  <div class="container" style="margin-top:5%">
    <div class="row">
      <div class="col-sm-4">
        <a-radio-group v-model:value="BuyorRent">
          <a-row>
            <a-radio class="general" value="A">Mua</a-radio>
            <a-radio class="general" style="margin-left:10px" value="B"
              >Thuê</a-radio
            >
          </a-row>
        </a-radio-group>
        <a-input-search
          v-model:value="InputSearch"
          placeholder="Nhập thông tin tìm kiếm"
          style="width: 200px"
          @search="onSearch"
        />
      </div>
      <div style="float:left;margin-left:-2%" class="col-sm-2">
        <a-dropdown>
          <template #overlay>
            <a-menu @click="handleMenuClick">
              <a-checkbox-group
                v-model:value="checkboxStyleAssets"
                :options="StyleAssets"
              />
            </a-menu>
          </template>
          <a-button>
            Nhà riêng
            <DownOutlined />
          </a-button>
        </a-dropdown>
      </div>
      <div style="float:left;margin-left:-4%" class="col-sm-2">
        <a-dropdown>
          <template #overlay>
            <a-menu @click="handleMenuClickpriceAround">
              <a-radio-group name="radioGroup" v-model:value="radioPriceAround">
                <a-radio value="1">0 - 1 tỷ VNĐ</a-radio>
                <a-radio value="2">1 tỷ - 2 tỷ VNĐ</a-radio>
                <a-radio value="3">2 tỷ - 3 tỷ VNĐ</a-radio>
                <a-radio value="4">Trên 3 tỷ VNĐ</a-radio>
              </a-radio-group>
            </a-menu>
          </template>
          <a-button>
            Khoảng giá
            <DownOutlined />
          </a-button>
        </a-dropdown>
      </div>
      <div style="float:left;margin-left:-5.5%" class="col-sm-2">
        <a-dropdown>
          <template #overlay>
            <a-menu @click="handleMenuClickpriceAround">
              <a-radio-group name="radioGroup" v-model:value="radioAcreage">
                <a-radio value="1">0 - 100 m2</a-radio>
                <a-radio value="2">100 - 200 m2</a-radio>
                <a-radio value="3">200 - 300 m2</a-radio>
                <a-radio value="4">300++ m2</a-radio>
              </a-radio-group>
            </a-menu>
          </template>
          <a-button>
            Diện tích
            <DownOutlined />
          </a-button>
        </a-dropdown>
      </div>
      <div style="float:left;margin-left:-7.4%" class="col-sm-2">
        <a-dropdown>
          <template #overlay>
            <a-menu @click="handleMenuClickpriceAround">
              <a-radio-group name="radioGroup" v-model:value="radioLocation">
                <a-radio value="1">Hẻm</a-radio>
                <a-radio value="2">Mặt tiền</a-radio>
              </a-radio-group>
            </a-menu>
          </template>
          <a-button>
            Vị trí
            <DownOutlined />
          </a-button>
        </a-dropdown>
      </div>
      <div style="float:left;margin-left:-7.5%" class="col-sm-2">
        <a-button
          style="width:70%;border:1px solid #155aa9;float:none!important"
          @click="status = !status"
        >
          Lọc thêm
          <SlidersOutlined />
        </a-button>
      </div>
      <div style="float:left!important;margin-left:-7.5%" class="col-sm-2">
        <a-button class="search" @click="ShowAll">
          Tìm
        </a-button>
      </div>
    </div>
  </div>
  <div v-if="status" class="container">
    <div class="row">
      <div class="col-sm-12">
        <b style="float:left;font-size:16px;margin-top:3%">Khu vực</b>
      </div>
    </div>
    <div class="row" style="margin-top:2%!important">
      <div class="col-sm-3">
        <a-select
          v-model:value="value1"
          style="width: 200px;float:left"
          @focus="focus"
          ref="select"
          @change="handleChange"
        >
          <a-select-option value="jack">Quận 1</a-select-option>
          <a-select-option value="lucy">Quận 2</a-select-option>
        </a-select>
      </div>
      <div class="col-sm-3">
        <a-select
          v-model:value="value1"
          style="width: 200px;float:left;margin-left:-15%"
          @focus="focus"
          ref="select"
          @change="handleChange"
        >
          <a-select-option value="jack">Hồ Chí Minh</a-select-option>
        </a-select>
      </div>
      <div class="col-sm-3">
        <a-select
          v-model:value="value1"
          style="width: 200px;float:left;margin-left:-30%"
          @focus="focus"
          ref="select"
          @change="handleChange"
        >
          <a-select-option value="jack">Phường / Xã</a-select-option>
        </a-select>
      </div>
      <div class="col-sm-3">
        <input
          type="text"
          placeholder="Nhập địa chỉ muốn tìm"
          style="width:300px;height:31px;margin-left:-35%"
          class="form-control"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <b style="float:left;font-size:16px;margin-top:5%">Số phòng ngủ</b>
      </div>
      <div class="col-sm-6">
        <b style="float:left;font-size:16px;margin-top:5%">Số phòng tắm</b>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1" style="margin-top:3%">
        <a-button class="bedroom">Tất cả</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button class="bedroom">1</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button style="margin-left:-50%" class="bedroom">2</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button style="margin-left:-100%" class="bedroom">3</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button style="margin-left:-150%" class="bedroom">4</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button style="margin-left:-200%" class="bedroom">5+</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button class="bedroom">Tất cả</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button class="bedroom">1</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button style="margin-left:-50%" class="bedroom">2</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button style="margin-left:-100%" class="bedroom">3</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button style="margin-left:-150%" class="bedroom">4</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button style="margin-left:-200%" class="bedroom">5+</a-button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <b style="float:left;font-size:16px;margin-top:5%">Hướng</b>
      </div>
      <div class="col-sm-6">
        <b style="float:left;font-size:16px;margin-top:5%">Số tầng</b>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1" style="margin-top:3%">
        <a-button class="bedroom">Tất cả</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button class="bedroom">Đông</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button style="margin-left:-30%" class="bedroom">Tây</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button style="margin-left:-70%" class="bedroom">Nam</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button style="margin-left:-100%" class="bedroom">Bắc</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%"></div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button class="bedroom">Tất cả</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button class="bedroom">1</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button style="margin-left:-50%" class="bedroom">2</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button style="margin-left:-100%" class="bedroom">3</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button style="margin-left:-150%" class="bedroom">4</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button style="margin-left:-200%" class="bedroom">5+</a-button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1" style="margin-top:3%">
        <a-button class="bedroom">Đông Bắc</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button style="margin-left:20%" class="bedroom">Tây Bắc</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button style="margin-left:20%" class="bedroom">Đông Nam</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button style="margin-left:45%" class="bedroom">Tây Nam</a-button>
      </div>
      <div class="col-sm-8"></div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <b style="float:left;font-size:16px;margin-top:5%">Tình trạng</b>
      </div>
      <div class="col-sm-6">
        <b style="float:left;font-size:16px;margin-top:5%">Top BDS xem nhiều</b>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1" style="margin-top:3%">
        <a-button class="bedroom">Tất cả</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button class="bedroom">Đặc biệt</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button style="margin-left:20%" class="bedroom"
          >Đã thẩm định</a-button
        >
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button style="margin-left:90%" class="bedroom">Đã bán</a-button>
      </div>
      <div class="col-sm-2" style="margin-top:3%"></div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button class="bedroom" v-model="top5" @click="Top5">Top 5</a-button>
      </div>
      <div class="col-sm-1" style="margin-top:3%">
        <a-button
          style="margin-left:20%"
          class="bedroom"
          v-model="top10"
          @click="Top10"
          >Top 10</a-button
        >
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, toRefs, ref } from "vue";
import { DownOutlined, SlidersOutlined } from "@ant-design/icons-vue";
export default {
  components: {
    DownOutlined,
    SlidersOutlined,
  },
  data() {
    const StyleAssets = ["Nhà riêng", "Căn hộ/Chung cư", "Đất nền"];
    const stateStyleAssets = reactive({
      checkboxStyleAssets: [],
    });
    return {
      top5: 5,
      top10: 10,
      status: false,
      StyleAssets,
      ...toRefs(stateStyleAssets),
    };
  },
  setup() {
    const InputSearch = ref("");
    const BuyorRent = ref("A");
    const radioPriceAround = ref("1");
    const radioAcreage = ref("1");
    const radioLocation = ref("1");
    const handleMenuClick = (e) => {
      console.log("click", e);
    };
    const onSearch = (searchValue) => {
      console.log("use value", searchValue);
      console.log("or use this.value", InputSearch.value);
      console.log("BuyorRent", BuyorRent.value);
      console.log("loggg", this.onSearch2);
    };
    const handleChange = (value) => {
      console.log(`selected ${value}`);
    };
    return {
      radioAcreage,
      radioLocation,
      radioPriceAround,
      handleMenuClick,
      BuyorRent,
      InputSearch,
      onSearch,
      focus,
      handleChange,
      value1: ref("jack"),
    };
  },
  methods: {
    Top5(e) {
      this.$emit("Top5", e, this.top5);
    },
    Top10(e) {
      this.$emit("Top10", e, this.top10);
    },
    ShowAll() {
      this.$emit("ShowAll");
    },
  },
};
</script>

<style>
.border {
  border-style: solid;
  border-width: 20px 5px;
}
.ant-checkbox-group {
  display: inline-grid;
}
.ant-radio-group {
  display: inline-grid;
}
.search {
  background-color: #f17423;
  border-radius: 40px;
  width: 50%;
  color: #fff;
}
.bedroom {
  color: #fff;
  background-color: #fff;
  border-radius: 5px;
  border: 0;
  color: #676767;
  margin-right: 70%;
  border: 1px solid #dadde0;
  float: left;
}
</style>
