<template>
  <template v-for="item in listDefaultHouseSale" :key="item.id">
    <router-link @click="$scrollToTop" to="/detail">
      <HouseSaleItem :item="item" />
    </router-link>
  </template>
</template>

<script>
import HouseSaleItem from "./HouseSaleItem";
export default {
  props: ["listDefaultHouseSale"],
  components: {
    HouseSaleItem,
  },
};
</script>

<style></style>
