<template>
  <template v-for="item in listDefaultHouseRent" :key="item.id">
    <router-link @click="$scrollToTop" to="/detail">
      <HouseRentItem :item="item" />
    </router-link>
  </template>
</template>

<script>
import HouseRentItem from "./HouseRentItem";
export default {
  props: ["listDefaultHouseRent"],
  components: {
    HouseRentItem,
  },
};
</script>

<style></style>
