<template>
  <NavbarContact />
  <NavbarMenu />
  <div class="container" style="margin-top:5%">
    <div class="row">
      <div class="col-sm-12">
        <h2 style="font-family:Roboto,sans-serif">
          Cập nhật thông tin mã Bất Động Sản số
          <label class="IDBDS">390182882</label>
        </h2>
      </div>
    </div>
    <div class="row" style="margin-top:5%">
      <div class="col-sm-6">
        <label class="col-sm-12 control-label">
          <b class="text"
            >Địa chỉ bất động sản <strong class="color-red">*</strong></b
          >
        </label>
      </div>
      <div class="col-sm-6">
        <label class="col-sm-12 control-label">
          <b class="text">Loại bất động sản </b>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label class="col-sm-12 control-label">
          <input
            type="text"
            style="width:500px"
            class="form-control"
            value="Số 3 Phường Nguyễn Cư Trinh, Quận 1, TP HCM"
            disabled
          />
        </label>
      </div>
      <div class="col-sm-6" style="line-height: 2.5;">
        <label class="col-sm-12 control-label">
          <a-radio-group v-model:value="valueTypeStates">
            <a-row>
              <a-radio class="general" value="Deparment"
                >Chung cư / Căn hộ</a-radio
              >
              <a-radio
                class="general"
                style="margin-left:100px"
                value="HouseforRent"
                >Nhà thuê</a-radio
              >
              <a-radio class="general" style="margin-left:100px" value="Land"
                >Đất nền</a-radio
              >
            </a-row>
          </a-radio-group>
        </label>
      </div>
    </div>
    <div class="row" style="margin-top:5%">
      <div class="col-sm-6">
        <label class="col-sm-12 control-label">
          <b class="text">Số điện thoại <strong class="color-red">*</strong></b>
        </label>
      </div>
      <div class="col-sm-6">
        <label class="col-sm-12 control-label">
          <b class="text">Loại hình giao dịch </b>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label class="col-sm-12 control-label">
          <input
            type="text"
            style="width:500px"
            class="form-control"
            value="0938626020"
          />
        </label>
      </div>
      <div class="col-sm-6" style="line-height: 2.5;">
        <label class="col-sm-12 control-label">
          <a-radio-group v-model:value="valueTypeStates">
            <a-row>
              <a-radio
                class="general"
                style="margin-left:-21.5% !important"
                value="sell"
                >Bán</a-radio
              >
              <a-radio class="general" style="margin-left:195px" value="Rent"
                >Cho thuê</a-radio
              >
            </a-row>
          </a-radio-group>
        </label>
      </div>
    </div>
    <div class="row" style="margin-top:5%">
      <div class="col-sm-6">
        <label class="col-sm-12 control-label">
          <b class="text">Giá đề nghị <strong class="color-red">*</strong></b>
        </label>
      </div>
      <div class="col-sm-6">
        <label class="col-sm-12 control-label">
          <b class="text">Diện tích </b>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label class="col-sm-12 control-label input-group">
          <input
            type="text"
            style="width:100px"
            class="form-control"
            value="5.000.000.000"
          />
          <div class="input-group-addon input-currency">VNĐ</div>
        </label>
      </div>
      <div class="col-sm-6" style="line-height: 2.5;">
        <label class="col-sm-12 control-label input-group">
          <input
            type="text"
            style="width:100px"
            class="form-control"
            value="125"
            disabled
          />
          <div class="input-group-addon input-currency">m2</div>
        </label>
      </div>
    </div>
    <div class="row" style="margin-top:5%">
      <div class="col-sm-6">
        <label class="col-sm-12 control-label">
          <b class="text"
            >Tiêu đề đăng bài <strong class="color-red">*</strong></b
          >
        </label>
      </div>
      <div class="col-sm-6">
        <label class="col-sm-12 control-label">
          <b class="text"
            >Một ít mô tả về bất động sản của bạn
            <strong class="color-red">*</strong></b
          >
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label class="col-sm-12 control-label">
          <input
            type="text"
            style="width:500px"
            class="form-control"
            placeholder="Bạn cần bán hay cho thuê?"
          />
        </label>
      </div>
      <div class="col-sm-6" style="line-height: 2.5;">
        <label class="col-sm-12 control-label">
          <!--col 12 nhỏ hơn -->
          <a-textarea
            v-model:value="hehe"
            :maxlength="500"
            placeholder="Thêm 1 ít thông tin bất động sản của bạn tại đây nhé"
            :rows="4"
          />
        </label>
      </div>
    </div>
    <div class="row" style="margin-top:5%">
      <div class="col-sm-12">
        <label class="col-sm-12 control-label">
          <b class="text">Hình ảnh BĐS</b>
        </label>
      </div>
    </div>
    <div class="row" style="margin-top:5%">
      <div class="col-sm-12">
        <label class="col-sm-12 control-label">
          <b class="text"
            >Thông tin chi tiết <strong class="color-red">*</strong></b
          >
        </label>
      </div>
    </div>
    <div class="row" style="margin-top:5%">
      <div
        class="col-sm-6"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../../assets/Bed.png" />
        <span style="margin-left: 2%">Phòng ngủ</span>
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 65%;"
          >4</span
        >
      </div>
      <div
        class="col-sm-6"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../../assets/Bed.png" />
        <span style="margin-left: 2%">Diện tích đất</span>
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 65%;"
          >50m2</span
        >
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12"><hr /></div>
    </div>
    <div class="row">
      <div
        class="col-sm-6"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../../assets/Bed.png" />
        <span style="margin-left: 2%">Phòng tắm</span>
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 65%;"
          >4</span
        >
      </div>
      <div
        class="col-sm-6"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../../assets/Bed.png" />
        <span style="margin-left: 9%;position:absolute">Diện tích sử dụng</span>
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 78%;"
          >210.5m2</span
        >
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12"><hr /></div>
    </div>
    <div class="row">
      <div
        class="col-sm-6"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../../assets/Bed.png" />
        <span style="margin-left: 2%">Hướng</span>
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 65%;"
          >Tây Bắc</span
        >
      </div>
      <div
        class="col-sm-6"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../../assets/Bed.png" />
        <span style="margin-left: 2%">Chiều dài</span>
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 68%;"
          >12.5m</span
        >
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12"><hr /></div>
    </div>
    <div class="row">
      <div
        class="col-sm-6"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../../assets/Bed.png" />
        <span style="margin-left: 9%;position: absolute;">Hiện trạng nhà</span>
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 75%;"
          >Bỏ trống</span
        >
      </div>
      <div
        class="col-sm-6"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../../assets/Bed.png" />
        <span style="margin-left: 2%">Chiều rộng</span>
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 68%;"
          >5.1m</span
        >
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12"><hr /></div>
    </div>
    <div class="row">
      <div
        class="col-sm-6"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../../assets/Bed.png" />
        <span style="margin-left: 2%">Giấy tờ</span>
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 65%;"
          >Sổ hồng</span
        >
      </div>
      <div
        class="col-sm-6"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../../assets/Bed.png" />
        <span style="margin-left: 2%">Độ rộng hẻm</span>
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 65.5%;"
          >4.0m</span
        >
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12"><hr /></div>
    </div>
    <div class="row">
      <div
        class="col-sm-6"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../../assets/Bed.png" />
        <span style="margin-left: 9%;position:absolute;">Kết cấu nhà</span>
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 65%;"
          >1 trệt, 1 lửng + 2 lầu</span
        >
      </div>
      <div
        class="col-sm-6"
        style="display: flex;
    align-items: center;"
      >
        <img class="ic" src="../../../assets/Bed.png" />
        <span style="margin-left: 9%;position: absolute;"
          >Độ rộng mặt tiền đường</span
        >
        <span
          style="float: right;
    text-align: right;
    color: #155aa9;
    margin-left: 85%;"
          >--</span
        >
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12"><hr /></div>
    </div>
    <div class="row" style="margin-top:5%">
      <div class="col-sm-12">
        <a-button
          style="float:right"
          class="edit"
          type="primary"
          @click="showModal"
          >Chỉnh sửa</a-button
        >
        <a-modal
          v-model:visible="visible"
          width="1000px"
          title="Chỉnh sửa thông tin chi tiết"
          okText="Cập nhật"
          @ok="handleOk"
          :okButtonProps="{ class: 'updatedetail' }"
        >
          <div class="row">
            <div
              class="col-sm-6"
              style="display: flex;
    align-items: center;"
            >
              <img class="ic" src="../../../assets/Bed.png" />
              <span style="margin-left: 2%">Phòng ngủ</span>
              <input
                class="inputdetail"
                style="float: right;
    color: #155aa9;
    margin-left: 65%;"
                placeholder="4"
              />
            </div>
            <div
              class="col-sm-6"
              style="display: flex;
    align-items: center;"
            >
              <img class="ic" src="../../../assets/Bed.png" />
              <span style="margin-left: 2%">Diện tích đất</span>
              <input
                class="inputdetail"
                style="float: right;
    color: #155aa9;
    margin-left: 65%;"
                placeholder="50m2"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12"><hr /></div>
          </div>
          <div class="row">
            <div
              class="col-sm-6"
              style="display: flex;
    align-items: center;"
            >
              <img class="ic" src="../../../assets/Bed.png" />
              <span style="margin-left: 2%">Phòng tắm</span>
              <input
                class="inputdetail"
                style="float: right;
    color: #155aa9;
    margin-left: 65%;"
                placeholder="4"
              />
            </div>
            <div
              class="col-sm-6"
              style="display: flex;
    align-items: center;"
            >
              <img class="ic" src="../../../assets/Bed.png" />
              <span style="margin-left: 9%;position:absolute"
                >Diện tích sử dụng</span
              >
              <input
                class="inputdetail"
                style="float: right;
    color: #155aa9;
    margin-left: 79.5%;"
                placeholder="250m2"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12"><hr /></div>
          </div>
          <div class="row">
            <div
              class="col-sm-6"
              style="display: flex;
    align-items: center;"
            >
              <img class="ic" src="../../../assets/Bed.png" />
              <span style="margin-left: 2%">Hướng</span>
              <input
                class="inputdetail"
                style="float: right;
    color: #155aa9;
    margin-left: 65%;width:80px !important;"
                placeholder="T.Bắc"
              />
            </div>
            <div
              class="col-sm-6"
              style="display: flex;
    align-items: center;"
            >
              <img class="ic" src="../../../assets/Bed.png" />
              <span style="margin-left: 2%">Chiều dài</span>
              <input
                class="inputdetail"
                style="float: right;
    color: #155aa9;
    margin-left: 67.7%;"
                placeholder="12.5m"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12"><hr /></div>
          </div>
          <div class="row">
            <div
              class="col-sm-6"
              style="display: flex;
    align-items: center;"
            >
              <img class="ic" src="../../../assets/Bed.png" />
              <span style="margin-left: 9%;position: absolute;"
                >Hiện trạng nhà</span
              >
              <input
                class="inputdetail"
                style="float: right;
    color: #155aa9;
    margin-left: 75%;width:80px !important;"
                placeholder="Bỏ trống"
              />
            </div>
            <div
              class="col-sm-6"
              style="display: flex;
    align-items: center;"
            >
              <img class="ic" src="../../../assets/Bed.png" />
              <span style="margin-left: 2%">Chiều rộng</span>
              <input
                class="inputdetail"
                style="float: right;
    color: #155aa9;
    margin-left: 67.5%;"
                placeholder="5.1m"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12"><hr /></div>
          </div>
          <div class="row">
            <div
              class="col-sm-6"
              style="display: flex;
    align-items: center;"
            >
              <img class="ic" src="../../../assets/Bed.png" />
              <span style="margin-left: 2%">Giấy tờ</span>
              <input
                class="inputdetail"
                style="float: right;
    color: #155aa9;
    margin-left: 65%;width:80px !important;"
                placeholder="Sổ hồng"
              />
            </div>
            <div
              class="col-sm-6"
              style="display: flex;
    align-items: center;"
            >
              <img class="ic" src="../../../assets/Bed.png" />
              <span style="margin-left: 2%">Độ rộng hẻm</span>
              <input
                class="inputdetail"
                style="float: right;
    color: #155aa9;
    margin-left: 65.2%;"
                placeholder="4.0m"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12"><hr /></div>
          </div>
          <div class="row">
            <div
              class="col-sm-6"
              style="display: flex;
    align-items: center;"
            >
              <img class="ic" src="../../../assets/Bed.png" />
              <span style="margin-left: 9%;position:absolute;"
                >Kết cấu nhà</span
              >
              <input
                class="inputdetail"
                style="float: right;
    color: #155aa9;
    margin-left: 65%;width:150px !important;"
                placeholder="1 trệt, 1 lửng + 2 lầu"
              />
            </div>
            <div
              class="col-sm-6"
              style="display: flex;
    align-items: center;"
            >
              <img class="ic" src="../../../assets/Bed.png" />
              <span style="margin-left: 9%;position: absolute;"
                >Độ rộng mặt tiền đường</span
              >
              <input
                class="inputdetail"
                style="float: right;
    color: #155aa9;
    margin-left: 82%;"
                placeholder="15m"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12"><hr /></div>
          </div>
        </a-modal>
      </div>
    </div>
    <div class="row" style="margin-top:5%">
      <div class="col-sm-12">
        <label class="col-sm-12 control-label">
          <b class="text">Tiện ích</b>
        </label>
      </div>
    </div>
    <div class="row" style="margin-top:5%">
      <div class="col-sm-12">
        <div class="form-group">
          <label class="col-sm-12 control-label">
            <a-checkbox-group
              style="display:contents"
              v-model:value="checkboxultilities"
              :options="ultilities"
            />
          </label>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:5%">
      <div class="col-sm-12">
        <label class="col-sm-12 control-label">
          <b class="text">Thông tin về dự án</b>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label
          class="col-sm-12 control-label"
          style="display:flex;align-items:center"
        >
          <input
            type="text"
            style="width:500px"
            class="form-control"
            placeholder="Tên dự án"
          /><strong style="color:red;padding-left: 5px;">*</strong>
        </label>
      </div>
      <div class="col-sm-6">
        <label class="col-sm-12 control-label">
          <input
            type="text"
            style="width:500px"
            class="form-control"
            placeholder="Vị trí"
          />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label class="col-sm-12 control-label">
          <input
            type="text"
            style="width:500px"
            class="form-control"
            placeholder="Chủ đầu tư"
          />
        </label>
      </div>
      <div class="col-sm-6">
        <label class="col-sm-12 control-label">
          <input
            type="text"
            style="width:500px"
            class="form-control"
            placeholder="Quy mô"
          />
        </label>
      </div>
    </div>
    <div class="row" style="margin-top:5%">
      <div class="col-sm-6">
        <a-button class="updateandpost">Cập nhật và đăng bài</a-button>
      </div>
      <div class="col-sm-6">
        <a-button class="updateandnopost">Cập nhật huỷ đăng bài</a-button>
      </div>
    </div>
  </div>
</template>

<script>
import NavbarContact from "./../../../components/NavbarContact";
import NavbarMenu from "./../../../components/NavbarMenu";
import { reactive, toRefs, defineComponent } from "vue";
export default defineComponent({
  components: {
    NavbarContact,
    NavbarMenu,
  },
  data() {
    const ultilities = [
      { label: "Gần chợ, siêu thị", value: "market" },
      { label: "Gần công viên, trung tâm", value: "centerpark" },
      { label: "Gần mặt tiền đường", value: "roadway" },
      { label: "Gần bệnh viện", value: "hospital" },
      { label: "Gần trường học", value: "school" },
      { label: "Gần khu phức hợp", value: "complex" },
      { label: "Gần sân bay", value: "airport" },
    ];

    const state = reactive({
      checkboxultilities: [],
    });
    return {
      ...toRefs(state),
      ultilities,
      visible: false,
    };
  },
  methods: {
    showModal() {
      console.log("hello");
      this.visible = true;
    },
    handleOk(e) {
      console.log(e);
      this.visible = false;
    },
  },
});
</script>

<style>
.IDBDS {
  background-color: #ef7733;
  border-radius: 5px;
  width: 200px;
  color: white;
}
.text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  float: left;
}
.ant-row {
  flex-flow: row !important;
}
.color-red {
  color: red;
}
.input-currency {
  color: #555;
  font-weight: 700;
  border-left: 0;
  border-top-left-radius: 0;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 2.6;
  display: table-cell;
  padding: 0 10px;
  background-color: #eee;
  border: 1px solid #ececec;
  height: 100%;
  border-bottom-left-radius: 0;
}
.ic {
  height: 40px;
  width: 40px;
  float: left;
}
.edit {
  width: 10%;
  height: 35px;
  background: #fff;
  color: #0d58ac;
  border: 1px solid #0d58ac;
  border-radius: 4px;
}
.updatedetail {
  background-color: green;
  color: #fff;
  border-radius: 4px;
}
.updateandpost {
  width: 200px;
  height: 47px;
  color: #fff;
  background-color: green;
  border-radius: 5px;
  border: 0;
  float: right;
}
.updateandpost:hover {
  color: green;
  border: 1px solid green;
}
.updatedetail:hover {
  color: green;
  border: 1px solid green;
}
.updateandnopost {
  width: 200px;
  height: 47px;
  background-color: rgb(223, 41, 41);
  border-radius: 5px;
  border: 0;
  color: #fff;
  border: 1px solid #dadde0;
  float: left;
}
.updateandnopost:hover {
  color: rgb(223, 41, 41);
  border: 1px solid rgb(223, 41, 41);
}
.ant-popover-inner-content {
  width: 1200px;
}
.ant-popover-title {
  font-weight: 700;
  font-size: 18px;
}
.ant-popover-content {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.inputdetail {
  width: 50px;
  border: 0 solid;
  color: rgb(21, 90, 169);
}
</style>
