<template>
  <template v-for="item in listDefaultDepartmentRent" :key="item.id">
    <router-link @click="$scrollToTop" to="/detail">
      <DepartmentRentItem :item="item" />
    </router-link>
  </template>
</template>

<script>
import DepartmentRentItem from "./DepartmentRentItem";
export default {
  props: ["listDefaultDepartmentRent"],
  components: {
    DepartmentRentItem,
  },
};
</script>

<style></style>
