<template>
  <NavbarContact />
  <NavbarMenu />
  <div class="container" style="margin-top:5%">
    <div class="row">
      <div class="col-sm-12">
        <h2 style="font-family:Roboto,sans-serif">
          Đăng ký tài khoản với Your House
        </h2>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <div class="col-sm-12">
            <a-input
              style="width:30%;margin-top:3%;"
              placeholder="email@example.com"
              v-model:value="userName"
            >
              <template #prefix>
                <user-outlined type="user" />
              </template>
            </a-input>
          </div>
          <div class="col-sm-12">
            <a-input
              style="width:30%;margin-top:3%;"
              placeholder="password"
              v-model:value="passWord"
            >
              <template #prefix>
                <lock-outlined type="lock" />
              </template>
            </a-input>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <a-button class="register" type="primary">ĐĂNG KÝ</a-button>
      </div>
    </div>
  </div>
</template>

<script>
import NavbarContact from "./../../../components/NavbarContact";
import NavbarMenu from "./../../../components/NavbarMenu";
import { UserOutlined, LockOutlined } from "@ant-design/icons-vue";
export default {
  components: {
    NavbarContact,
    NavbarMenu,
    UserOutlined,
    LockOutlined,
  },
};
</script>

<style>
.register {
  width: 30%;
  background-color: #f17423;
  font-size: 14px;
  color: #fff;
  padding: 10px;
  border-radius: 40px;
  height: 44px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin-top: 2%;
}
</style>
