<template>
  <div class="row">
    <div id="footer-images" style="margin-top: 5% !important;">
      <img id="background" style="width:100%" src="../../assets/Footer.png" />
      <img id="logoweb" src="../../assets/logoweb.png" style="width:20%;" />
      <div class="row">
        <div class="col-sm-3">
          <div id="text-footer">
            <h4 style="color:white">
              106H/13 Hoài Thanh Phường 14 Quận 8, Thành phố Hồ Chí Minh
            </h4>
          </div>
        </div>
        <div class="col-sm-3">
          <div id="text-right-footer">
            <b style="color:white;font-size:20px">Về YourHouse</b>
          </div>
        </div>
        <div class="col-sm-3">
          <div id="text-right-footer-1">
            <b style="color:white;font-size:20px">Dịch vụ của YourHouse</b>
          </div>
        </div>
        <div class="col-sm-3">
          <div id="text-right-footer-2">
            <b style="color:white;font-size:20px">Hệ thống YourHouse</b>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div id="text-footer-1">
            <h4 style="color:white">Email: giandieukien@gmail.com</h4>
          </div>
        </div>
        <div class="col-sm-3">
          <div id="text-right-ul-footer" style="color:white">
            <ul style="list-style-type: none;padding-top:25px">
              <li style="margin-top:100px;font-size:18px">Giới thiệu</li>
              <li class="li-css">Tuyển dụng</li>
              <li class="li-css">Liên hệ</li>
              <li class="li-css">Chính sách bảo mật</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div id="text-right-ul-footer-1" style="color:white">
            <ul style="list-style-type: none;padding-top:25px">
              <li style="margin-top:100px;font-size:18px">
                Gửi BĐS miễn phí
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div id="text-right-ul-footer-2" style="color:white">
            <ul style="list-style-type: none;padding-top:25px">
              <li style="margin-top:100px;font-size:18px">Mua nhà</li>
              <li class="li-css">Mua căn hộ</li>
              <li class="li-css">Thuê nhà</li>
              <li class="li-css">Thuê căn hộ</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div id="text-footer-2">
            <h4 style="color:white">
              Hãy gọi cho chúng tôi để được tư vấn 24/7
              <a style="color:orange">0938.626.020</a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
#footer_images {
  position: relative;
  width: 100%;
}
#logoweb {
  position: absolute;
  left: 300px;
  margin-top: 20px;
}
#text-footer {
  text-align: left;
  width: 400px;
  position: absolute;
  margin-top: -50%;
  left: 130%;
  transform: translate(-50%, -50%);
}
#text-footer-1 {
  text-align: left;
  width: 400px;
  position: absolute;
  margin-top: -32%;
  left: 130%;
  transform: translate(-50%, -50%);
}
#text-footer-2 {
  text-align: left;
  width: 400px;
  position: absolute;
  margin-top: -15%;
  left: 130%;
  transform: translate(-50%, -50%);
}
#text-right-footer {
  text-align: left;
  width: 300px;
  position: absolute;
  margin-top: -80%;
  left: 150%;
  transform: translate(-50%, -50%);
}
#text-right-ul-footer {
  text-align: left;
  width: 300px;
  position: absolute;
  margin-top: -65%;
  left: 145%;
  transform: translate(-50%, -50%);
}
#text-right-ul-footer-1 {
  text-align: left;
  width: 300px;
  position: absolute;
  margin-top: -78%;
  left: 100%;
  transform: translate(-50%, -50%);
}
.li-css {
  margin-top: 15px;
  font-size: 18px;
}
#text-right-footer-1 {
  text-align: left;
  width: 300px;
  position: absolute;
  margin-top: -80%;
  left: 105%;
  transform: translate(-50%, -50%);
}
#text-right-footer-2 {
  text-align: left;
  width: 300px;
  position: absolute;
  margin-top: -80%;
  left: 70%;
  transform: translate(-50%, -50%);
}
#text-right-ul-footer-2 {
  text-align: left;
  width: 300px;
  position: absolute;
  margin-top: -65%;
  left: 65%;
  transform: translate(-50%, -50%);
}
.row {
  margin-top: 0% !important;
}
</style>
