<template>
<div>
  <a-radio-group class="search-css" v-model:value="size">
    <a-radio-button class="button buy" value="buy">Mua</a-radio-button>
    <a-radio-button class="button rent" value="rent">Thuê</a-radio-button>
  </a-radio-group>
  <a-input-search class="input-search-css"
      v-model:value="value"
      placeholder="input search text"
      enter-button
      @search="onSearch"
    />
</div>
</template>

<script>
export default {

}
</script>

<style>
.button{
  background-color: rgba(0,0,0,.3);
  border-top-left-radius:4px;
  outline:0!important;
  cursor:pointer;
}
.buy:hover{
  background: white;
  color:#ef7733;
}
.rent:hover{
  background: white;
  color:#ef7733;
}
.input-search-css{
    margin-top: 30%;
    height: 100px;
    width: 800px;
    text-align: right;
    position: absolute;
    z-index: 3;
    top: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin-right: 60%;
}
.search-css{
    margin-top: 20.7%;
    text-align: left;
    position: absolute;
    display: flex;
    z-index: 2;
    top: 10%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin-left: 50%;
}
.banner-text-1{
    width: 500px!important;
    height: 400px!important;
    position: absolute;
    z-index: 2;
    top: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin-top:200px;
    margin-left: 2%;
}
</style>