<template>
  <a-dropdown>
    <a class="ant-dropdown-link" style="color: black;" @click.prevent>
      Thuê
      <DownOutlined />
    </a>
    <template #overlay>
      <a-menu>
        <a-menu-item>
          <a href="javascript:;">Nhà Riêng</a>
        </a-menu-item>
        <a-menu-item>
          <a href="javascript:;">Căn Hộ</a>
        </a-menu-item>
      </a-menu>
    </template>
  </a-dropdown>
</template>

<script>
import {DownOutlined} from '@ant-design/icons-vue';
export default {
    components:{
        DownOutlined,
    }
}
</script>

<style>

</style>