<template>
  <NavbarContact />
  <NavbarMenu />
  <DetailImagesItems />
</template>

<script>
import NavbarContact from "./../../../components/NavbarContact";
import NavbarMenu from "./../../../components/NavbarMenu";
import DetailImagesItems from "./../../../components/DetailImagesItems";
export default {
  components: {
    NavbarContact,
    NavbarMenu,
    DetailImagesItems,
  },
};
</script>

<style></style>
