<template>
  <div class="container" style="margin-top:5%">
    <div class="row">
      <div class="col-sm-6">
        <h2 style="float:left">Kết quả tìm kiếm</h2>
      </div>
      <div class="col-sm-6">
        <a-dropdown>
          <template #overlay>
            <a-menu @click="handleMenuClickpriceAround">
              <a-radio-group name="radioGroup" v-model:value="radioPriceAround">
                <a-radio value="1">Gần đây nhất</a-radio>
                <a-radio value="2">Theo giá từ thấp đến cao</a-radio>
                <a-radio value="3">Theo giá từ cao đến thấp</a-radio>
              </a-radio-group>
            </a-menu>
          </template>
          <a-button style="float:right!important">
            Tìm theo yêu cầu
            <DownOutlined />
          </a-button>
        </a-dropdown>
      </div>
    </div>
    <div class="row">
      <template v-for="item in itemList" :key="item.id">
        <!-- Dia Chi BDS: {{ item.address }} - Likes: {{ item.price }} -->
        <ResultAreaItem :item="item" />
        <!-- <ResultAreaItem />
        <ResultAreaItem />
        <ResultAreaItem /> -->
      </template>
    </div>
    <!-- <div class="row" style="margin-top:5%">
      <ResultAreaItem />
      <ResultAreaItem />
      <ResultAreaItem />
      <ResultAreaItem />
    </div> -->
  </div>
</template>

<script>
import ResultAreaItem from "./ResultAreaItem";
import { ref } from "vue";
import { DownOutlined } from "@ant-design/icons-vue";

export default {
  props: ["itemList"],
  components: {
    ResultAreaItem,
    DownOutlined,
  },
  data() {
    return {};
  },
  setup() {
    const radioPriceAround = ref("1");
    return {
      radioPriceAround,
    };
  },
};
</script>

<style></style>
