<template>
  <div class="col-sm-3" style="margin-top:3%">
    <!--Begin item -->
    <div class="card" style="height:600px">
      <img
        class="card-img-top"
        style="height:300px"
        src="../../assets/HouseSale.jpeg"
      />
      <div class="card-body">
        <div style="display:flex;align-items:center">
          <h4
            class="card-title"
            style="float:left;color:#ef7733;font-size:18px;font-weight:bold"
          >
            20 tỷ
          </h4>
          <h4
            class="card-title"
            style="float:right;font-size:18px;margin-left:25%"
          >
            200 triệu/m2
          </h4>
        </div>
        <p
          class="card-text"
          style="float:left;font-size:18px;text-align: left;font-weight:bold;color:grey"
        >
          Bán gấp nhà hẻm Trần Đình Xu - trung tâm Quận 1
        </p>
      </div>
      <div style="margin-left:6%;margin-top:-5%">
        <p class="card-text" style="float:left;font-size:18px;">
          <span style="color:grey;font-size:18px;font-weight:bold">3</span
          >&nbsp;<i style="color:grey;font-size:15px" class="fas">&#xf236;</i>
        </p>
        <p class="card-text" style="float:left;font-size:18px;margin-left:6%">
          <span style="color:grey;font-size:18px;font-weight:bold">2</span
          >&nbsp;<i style="color:grey;font-size:15px" class="fas">&#xf2cd;</i>
        </p>
        <p class="card-text" style="float:left;font-size:18px;margin-left:6%">
          <span style="color:grey;font-size:18px;font-weight:bold"
            >View: {{ JSON.stringify(item.view) }}</span
          >&nbsp;
        </p>
        <!-- <button class="btn btn-primary">Like</button> -->
      </div>
      <div style="margin-left:6%;margin-top:1%">
        <p class="card-text" style="float:left;font-size:18px;text-align:left">
          <i style="color:grey;font-size:15px" class="fas">&#xf3c5;</i
          >&nbsp;<span style="color:grey;font-size:18px;font-weight:bold">{{
            JSON.stringify(item.address)
          }}</span>
        </p>
      </div>
    </div>
    <!-- End item -->
  </div>
</template>

<script>
export default {
  props: ["item"],
  mounted() {
    let recaptchaScript = document.createElement("script");
    recaptchaScript.setAttribute(
      "src",
      "https://kit.fontawesome.com/a076d05399.js"
    );
    document.head.appendChild(recaptchaScript);
  },
};
</script>

<style></style>
